
/**
 * @file
 * Toolbar style for Administration menu.
 *
 * Important: We cannot re-use toolbar.png from Toolbar module, since we cannot
 * reliably determine the path to it.
 *
 * @todo Separate shortcut functionality into own module/widget.
 */

/* Adjust margin/height */

/* Displace the core Toolbar, if concurrently output. */
body div#toolbar.toolbar {
  top: 30px;
}

/**
 * Base styles.
 *
 * We use a keyword for the toolbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
#admin-menu {
  font: normal small "Lucida Grande", Verdana, sans-serif;
  -moz-box-shadow: 0 -10px 20px 13px #000;
  -webkit-box-shadow: 0 -10px 20px 13px #000;
  box-shadow: 0 -10px 20px 13px #000;
  right: 0;
  width: auto;
}
#admin-menu-wrapper {
  font-size: .846em;
  padding: 5px 10px 0;
}

#admin-menu .dropdown a {
  color: #fafafa;
}

/* Remove border from all lists and actions */
#admin-menu .dropdown .admin-menu-action a {
  border-left: 0;
}
#admin-menu .dropdown .admin-menu-icon > a {
  padding: 2px 10px 3px;
}

/**
 * Administration menu.
 */
#admin-menu .dropdown .admin-menu-icon > a span {
  vertical-align: text-bottom;
  width: 11px;
  height: 14px;
  display: block;
  background: url(toolbar.png) no-repeat 0 -45px;
  text-indent: -9999px;
}
#admin-menu > div > .dropdown > li > a {
  border-right: 0;
  margin-bottom: 4px;
  padding: 2px 10px 3px;
}
#admin-menu .dropdown .admin-menu-toolbar-category > a,
#admin-menu .dropdown .admin-menu-action > a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#admin-menu .dropdown .admin-menu-toolbar-category > a.active-trail {
  text-shadow: #333 0 1px 0;
  background: url(toolbar.png) 0 0 repeat-x;
}
#admin-menu .dropdown .admin-menu-toolbar-category > a:hover {
  background-color: #444;
}
#admin-menu .dropdown .admin-menu-tab a {
  border-right: 0;
}
#admin-menu .dropdown li li.expandable ul {
  margin: -22px 0 0 160px;
}

/**
 * Shortcuts toggle.
 */
#admin-menu .shortcut-toggle {
  cursor: pointer;
  background: url(toolbar.png) 0 -20px no-repeat;
  display: block;
  float: right;
  margin: 0 0 0 1.3em;
  text-indent: -9999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
}
#admin-menu .shortcut-toggle:focus,
#admin-menu .shortcut-toggle:hover {
  background-position: -50px -20px;
}
#admin-menu .shortcut-toggle.active {
  background-position: -25px -20px;
}
#admin-menu .shortcut-toggle.active:focus,
#admin-menu .shortcut-toggle.active:hover {
  background-position: -75px -20px;
}

/**
 * Shortcuts widget.
 */
#admin-menu .shortcut-toolbar {
  background-color: #666;
  clear: both;
  display: none;
  margin: 0 -10px;
  overflow: hidden;
  /* Align with icon; @see shortcut.css */
  padding-left: 5px;
}
#admin-menu .shortcut-toolbar.active {
  display: block;
}
/* Override theme list style; @see shortcut.css */
#admin-menu .shortcut-toolbar ul {
  margin: 0;
}
/* @see toolbar.css */
#admin-menu .shortcut-toolbar li {
  float: left;
  list-style-image: none;
  list-style-type: none;
}
#admin-menu .shortcut-toolbar a {
  display: block;
}

