/*Sitio desarrollado por Cristian Hernandez / TFDC*/
@font-face {
  font-family: "futuraM";
  src: url(/sites/all/themes/orbit/fonts/tt0142m_-webfont.ttf) format('truetype'), url(/sites/all/themes/orbit/fonts/tt0142m_-webfont.eot) format('embedded-opentype');
}

@font-face {
  font-family: "futuraB";
  src: url(/sites/all/themes/orbit/fonts/tt0144m_-webfont.ttf) format('truetype'), url(/sites/all/themes/orbit/fonts/tt0144m_-webfont.eot) format('embedded-opentype');
}

@font-face {
  font-family: "florenceRegular";
  src: url(/sites/all/themes/orbit/fonts/florence-regular-webfont.ttf) format('truetype'), url(/sites/all/themes/orbit/fonts/florence-regular-webfont.eot) format('embedded-opentype');
}

/*=======colors=======*/
/*=======end=======*/
/*=======Border radius=======*/
/*=======end=======*/
/*generico*/
/* line 38, ../sass/style.scss */
html {
  height: 100%;
}

/* line 39, ../sass/style.scss */
body {
  font-size: 12px;
  font-family: "futuraM";
  font-weight: normal;
  color: #666666;
  margin: 0;
  height: 100%;
}

/* line 48, ../sass/style.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 51, ../sass/style.scss */
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 58, ../sass/style.scss */
p {
  margin: 0 0 0.5em 0;
}

/* line 60, ../sass/style.scss */
a, a:link {
  color: #0071bc;
  text-decoration: none;
}
/* line 63, ../sass/style.scss */
a:hover, a:link:hover {
  color: #f9bd14;
}

/* line 66, ../sass/style.scss */
.clearfix:after, header:after, #og-wall-form #edit-image-ajax-wrapper .form-type-managed-file:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 67, ../sass/style.scss */
* html .clearfix, * html header, * html #og-wall-form #edit-image-ajax-wrapper .form-type-managed-file, #og-wall-form #edit-image-ajax-wrapper * html .form-type-managed-file {
  zoom: 1;
}

/* IE6 */
/* line 68, ../sass/style.scss */
*:first-child + html .clearfix, *:first-child + html header, *:first-child + html #og-wall-form #edit-image-ajax-wrapper .form-type-managed-file, #og-wall-form #edit-image-ajax-wrapper *:first-child + html .form-type-managed-file {
  zoom: 1;
}

/* IE7 */
/* line 70, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 72, ../sass/style.scss */
.ajax-progress {
  position: absolute;
}

/* line 74, ../sass/style.scss */
.grippie {
  display: none;
}

/* line 80, ../sass/style.scss */
textarea,
.form-email,
.form-number,
input[type="text"],
input[type="password"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "futuraM";
  border: 1px solid #DDD;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  width: 100%;
}

/* line 89, ../sass/style.scss */
input[type="file"] {
  position: relative;
  width: 3.5em;
  height: 2em;
  cursor: pointer;
}
/* line 94, ../sass/style.scss */
input[type="file"]:after {
  background: url(../images/ico-upload.png) center center no-repeat #f9bd14;
  border: 0.3em solid #826400;
  border-top: none;
  border-left: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 106, ../sass/style.scss */
input[type="file"]:hover:after {
  background-color: #826400;
}

/* line 110, ../sass/style.scss */
.messages {
  font-size: 1em;
  color: white;
  padding: 0.7em;
  text-align: center;
  border: none;
  font-weight: normal;
}

/* line 118, ../sass/style.scss */
.status {
  background: #83c341;
}

/* line 120, ../sass/style.scss */
#cboxClose {
  cursor: pointer;
  text-indent: -5000px;
  position: absolute;
  top: -3em;
  right: 1em;
  background: url(../images/btn-close.png) no-repeat center bottom;
  border: none;
  width: 2.5em;
  height: 3em;
}
/* line 130, ../sass/style.scss */
#cboxClose:hover {
  background: url(../images/btn-close-h.png) no-repeat center bottom;
}

/* line 133, ../sass/style.scss */
#cboxOverlay {
  background: black;
  width: 100%;
  height: 100%;
}

/*==end==*/
/*artefactos*/
/* line 143, ../sass/style.scss */
input[type="file"]:after, .s_title_page:after, #block-ob-wall-ob-phrase:after, #block-ob-wall-ob-phrase:before {
  content: " ";
  position: absolute;
}

/* line 147, ../sass/style.scss */
#block-user-login {
  width: 50%;
  margin: auto;
}
/* line 150, ../sass/style.scss */
#block-user-login .webform-component-select {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #DDD;
}
/* line 157, ../sass/style.scss */
#block-user-login .webform-component-radios {
  display: inline-block;
  vertical-align: top;
}
/* line 160, ../sass/style.scss */
#block-user-login .webform-component-radios .form-type-radio {
  float: left;
  margin-right: 1em;
}
/* line 165, ../sass/style.scss */
#block-user-login .form-select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding-right: 4em;
  background: url(../images/btn-select.png) right center no-repeat;
  color: #666666;
  min-width: 15em;
}

/* line 183, ../sass/style.scss */
#block-user-login .form-submit, #og-wall-form #edit-image-ajax-wrapper .form-submit, #og-wall-form .form-type-textarea .form-submit, #og-wall-form #edit-archivo-ajax-wrapper .form-submit, #og-wall-form #edit-enviar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "futuraM";
  border: none;
  background: #666666;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  border: 0.3em solid #333333;
  border-top: none;
  border-left: none;
  cursor: pointer;
}
/* line 195, ../sass/style.scss */
#block-user-login .form-submit:hover, #og-wall-form #edit-image-ajax-wrapper .form-submit:hover, #og-wall-form .form-type-textarea .form-submit:hover, #og-wall-form #edit-archivo-ajax-wrapper .form-submit:hover, #og-wall-form #edit-enviar:hover {
  background-color: #333333;
}

/* line 200, ../sass/style.scss */
#block-user-login .form-submit, #og-wall-form #edit-image-ajax-wrapper .form-submit, #og-wall-form .form-type-textarea .form-submit, #og-wall-form #edit-archivo-ajax-wrapper .form-submit {
  color: #333333;
  background-color: #f9bd14;
  border-color: #826400;
}
/* line 205, ../sass/style.scss */
#block-user-login .form-submit:hover, #og-wall-form #edit-image-ajax-wrapper .form-submit:hover, #og-wall-form .form-type-textarea .form-submit:hover, #og-wall-form #edit-archivo-ajax-wrapper .form-submit:hover {
  color: #f9bd14;
  background-color: #826400;
}

/* line 222, ../sass/style.scss */
#og-wall-form #edit-enviar {
  background-color: #0071bc;
  border-color: #1f3264;
}
/* line 226, ../sass/style.scss */
#og-wall-form #edit-enviar:hover {
  color: #0071bc;
  background-color: #1f3264;
}

/* line 242, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper, #og-wall-form .form-type-textarea, #og-wall-form #edit-archivo-ajax-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  position: absolute;
  padding: 1em;
  margin: 0;
  top: 0;
  width: 100%;
  background: white;
  height: 6em;
  z-index: 1;
}
/* line 257, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper label, #og-wall-form .form-type-textarea label, #og-wall-form #edit-archivo-ajax-wrapper label {
  position: absolute;
  top: -2em;
  width: 34%;
  background: #1f3264;
  color: white;
  height: 2em;
  line-height: 2em;
}
/* line 265, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper label:hover, #og-wall-form .form-type-textarea label:hover, #og-wall-form #edit-archivo-ajax-wrapper label:hover {
  background: #f9bd14;
  color: #1f3264;
}
/* line 270, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper .form-submit, #og-wall-form .form-type-textarea .form-submit, #og-wall-form #edit-archivo-ajax-wrapper .form-submit {
  float: right;
}

/* line 290, ../sass/style.scss */
.s_title_page:after {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid red;
}

/* line 305, ../sass/style.scss */
.s_title_page {
  padding: 1em 0 1em 1.5em;
  margin: 0;
  color: #1f3264;
  position: relative;
  text-transform: uppercase;
}
/* line 311, ../sass/style.scss */
.s_title_page:after {
  top: 15%;
  left: 0;
}

/* line 319, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right, .user-profile .group-footer .views-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 322, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right .flag-outer-like, .user-profile .group-footer .views-row .flag-outer-like {
  position: absolute;
  width: 20%;
  padding-top: 0.5em;
  border-top: 1px solid #dddddd;
  bottom: 0;
  right: 1em;
}
/* line 329, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right .flag-outer-like span, .user-profile .group-footer .views-row .flag-outer-like span {
  float: right;
}
/* line 330, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right .flag-outer-like a, .user-profile .group-footer .views-row .flag-outer-like a, #block-views-home-publications-block .views-row .group-right .flag-outer-like a:link, .user-profile .group-footer .views-row .flag-outer-like a:link {
  background: url(../images/ico-unlike.png) right center no-repeat;
  text-indent: -5000px;
  height: 1.2em;
  width: 1.5em;
  display: block;
  padding-left: 0.5em;
  border-left: 1px solid #dddddd;
}
/* line 339, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right .flag-outer-like .flag-throbber, .user-profile .group-footer .views-row .flag-outer-like .flag-throbber {
  position: absolute;
}
/* line 341, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right .field-name-counter, .user-profile .group-footer .views-row .field-name-counter {
  position: absolute;
  width: 80%;
  padding-top: 0.5em;
  border-top: 1px solid #dddddd;
  bottom: 0;
  left: 1em;
}
/* line 348, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right .field-name-counter .field-item, .user-profile .group-footer .views-row .field-name-counter .field-item {
  background: url(../images/ico-like.png) left center no-repeat;
  color: #f9bd14;
  font-weight: bold;
  text-align: right;
  height: 1em;
  width: 1.5em;
  display: block;
  padding: 0 1em;
  border-right: 1px solid #dddddd;
  font-size: 1.2em;
}

/* line 362, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-img, #block-ob-wall-ob-profile .ob-user-info, #block-ob-wall-ob-profile .ob-colaborator {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  *display: inline-block;
  vertical-align: top;
  padding: 0 1em;
  border-right: 1px solid #dddddd;
}

/* line 371, ../sass/style.scss */
.view-id-directorio > .view-content .views-row, #block-ob-wall-ob-profile .ob-colaborator .views-row {
  display: inline-block;
  *display: inline-block;
  vertical-align: top;
  position: relative;
  width: 14.3%;
  min-height: 9em;
  margin: 0.3em 0;
  text-align: center;
  cursor: pointer;
}
/* line 381, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-picture img, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-picture img {
  height: auto;
  width: 100%;
}
/* line 385, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-nothing, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-nothing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #f9bd14;
  color: #1f3264;
}
/* line 394, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-nothing .s_user_name, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-nothing .s_user_name {
  text-transform: capitalize;
  margin-top: 4em;
  font-size: 1.3em;
}
/* line 399, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-nothing .s_user_dept, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-nothing .s_user_dept {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #1f3264;
  width: 90%;
  margin: auto;
}
/* line 407, ../sass/style.scss */
.view-id-directorio > .view-content .views-row:hover .views-field-nothing, #block-ob-wall-ob-profile .ob-colaborator .views-row:hover .views-field-nothing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 409, ../sass/style.scss */
.view-id-directorio > .view-content .views-row:hover .views-field-nothing *, #block-ob-wall-ob-profile .ob-colaborator .views-row:hover .views-field-nothing * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 414, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-uid, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-uid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 420, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-uid a, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-uid a, .view-id-directorio > .view-content .views-row .views-field-uid a:link, #block-ob-wall-ob-profile .ob-colaborator .views-row .views-field-uid a:link {
  text-indent: -5000px;
  display: block;
  width: 100%;
  min-height: 10em;
}

/*==end==*/
/*no-log*/
/* line 435, ../sass/style.scss */
.not-logged-in #first-time,
.not-logged-in #t-logo {
  display: none;
}

/*==end==*/
/* line 446, ../sass/style.scss */
.front .s_title_page {
  display: none;
}

/* line 448, ../sass/style.scss */
.s_title_page {
  width: 50%;
  float: left;
}
/* line 452, ../sass/style.scss */
.s_title_page:after {
  border-left-color: #f9bd14;
}

/* line 454, ../sass/style.scss */
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #333333;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 1em;
}

/* line 463, ../sass/style.scss */
nav {
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  width: 6%;
  height: 100%;
  padding-top: 8em;
  z-index: 9;
}
/* line 472, ../sass/style.scss */
nav h2 {
  display: none;
}
/* line 473, ../sass/style.scss */
nav .menu {
  text-align: center;
}
/* line 475, ../sass/style.scss */
nav .menu li {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0.5em auto;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #666666;
}
/* line 483, ../sass/style.scss */
nav .menu li a, nav .menu li a:link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  position: absolute;
  background-color: transparent;
  background-position: left center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  display: block;
  text-transform: uppercase;
  text-indent: -5000px;
  padding: 1em;
  width: 100%;
}
/* line 499, ../sass/style.scss */
nav .menu li a:hover, nav .menu li a:link:hover {
  padding: 1em 1em 1em 7em;
  background-color: #333333;
  min-width: 500%;
  text-indent: 0;
  color: #f9bd14;
}
/* line 507, ../sass/style.scss */
nav .menu li .s_directory {
  background-image: url(../images/btn-ico-directorio.png);
}
/* line 509, ../sass/style.scss */
nav .menu li .s_directory:hover {
  background-image: url(../images/btn-ico-directorio-h.png);
}
/* line 511, ../sass/style.scss */
nav .menu li .s_plane {
  background-image: url(../images/btn-ico-planeador.png);
}
/* line 513, ../sass/style.scss */
nav .menu li .s_plane:hover {
  background-image: url(../images/btn-ico-planeador-h.png);
}
/* line 515, ../sass/style.scss */
nav .menu li .s_room {
  background-image: url(../images/btn-ico-salas.png);
}
/* line 517, ../sass/style.scss */
nav .menu li .s_room:hover {
  background-image: url(../images/btn-ico-salas-h.png);
}
/* line 519, ../sass/style.scss */
nav .menu li .s_casino {
  background-image: url(../images/btn-ico-menu.png);
}
/* line 521, ../sass/style.scss */
nav .menu li .s_casino:hover {
  background-image: url(../images/btn-ico-menu-h.png);
}
/* line 524, ../sass/style.scss */
nav .menu .last {
  border: none;
}

/* line 527, ../sass/style.scss */
.ob-header-links {
  width: 50%;
  padding-top: 1em;
  margin-left: 22%;
  text-align: right;
  color: white;
}
/* line 533, ../sass/style.scss */
.ob-header-links > div {
  display: inline-block;
  *display: inline-block;
  vertical-align: middle;
  padding: 0 1em;
  border-right: 1px solid #666666;
  height: 25px;
  line-height: 25px;
}
/* line 541, ../sass/style.scss */
.ob-header-links > div:last-child {
  border: none;
}
/* line 543, ../sass/style.scss */
.ob-header-links .ob-notifications {
  cursor: pointer;
  background: url(../images/ico-notificacion.png) no-repeat center center;
  width: 25px;
}
/* line 547, ../sass/style.scss */
.ob-header-links .ob-notifications:hover {
  background-image: url(../images/ico-notificacion-h.png);
}
/* line 549, ../sass/style.scss */
.ob-header-links a, .ob-header-links a:link {
  color: white;
}

/* line 551, ../sass/style.scss */
#content-wrapper {
  overflow: hidden;
  *zoom: 1;
  float: right;
  width: 94%;
  position: relative;
  top: 6em;
}
/* line 557, ../sass/style.scss */
#content-wrapper #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding: 1em;
  border-right: 1px solid #dddddd;
}

/*muro*/
/* line 567, ../sass/style.scss */
#block-ob-wall-ob-phrase {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 28%;
  float: left;
  color: #1f3264;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  padding: 0 2.3em;
  position: relative;
  text-align: center;
}
/* line 578, ../sass/style.scss */
#block-ob-wall-ob-phrase:after {
  width: 40px;
  height: 27px;
  top: 0;
  left: 0;
  background-image: url(../images/comillas.png);
}
/* line 586, ../sass/style.scss */
#block-ob-wall-ob-phrase:before {
  width: 40px;
  height: 27px;
  bottom: 0;
  right: 0;
  background-image: url(../images/comillas2.png);
}

/* line 595, ../sass/style.scss */
#block-ob-wall-ob-create-post {
  width: 70%;
  float: right;
}

/* line 599, ../sass/style.scss */
#og-wall-form {
  border: 1px solid #dddddd;
  text-align: center;
  position: relative;
  padding-top: 6em;
  margin-top: 2em;
}
/* line 605, ../sass/style.scss */
#og-wall-form .active {
  z-index: 3 !important;
}
/* line 608, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper label {
  left: 0;
}
/* line 615, ../sass/style.scss */
#og-wall-form .form-type-textarea label {
  left: 33%;
}
/* line 616, ../sass/style.scss */
#og-wall-form .form-type-textarea textarea {
  border-color: #dddddd;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 4em;
  padding: 0;
}
/* line 626, ../sass/style.scss */
#og-wall-form #edit-archivo-ajax-wrapper label {
  left: 66%;
}
/* line 628, ../sass/style.scss */
#og-wall-form .form-type-managed-file {
  text-align: center;
}
/* line 630, ../sass/style.scss */
#og-wall-form .form-type-managed-file .form-submit {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}
/* line 636, ../sass/style.scss */
#og-wall-form input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  position: relative;
  top: -2px;
  height: 2.2em;
}
/* line 644, ../sass/style.scss */
#og-wall-form .form-type-select {
  margin: 1em 0 1em 1em;
  padding-right: 1em;
  float: left;
  border-right: 1px solid;
}
/* line 649, ../sass/style.scss */
#og-wall-form .form-type-select select {
  width: 6em;
  border: none;
  font-family: "futuraM";
  font-weight: normal;
}
/* line 654, ../sass/style.scss */
#og-wall-form .form-type-select select option {
  background: #f9bd14;
  color: black;
}
/* line 660, ../sass/style.scss */
#og-wall-form #edit-enviar {
  float: left;
  margin: 0.5em;
}

/* line 667, ../sass/style.scss */
#block-views-home-publications-block {
  clear: both;
  padding-top: 2em;
}
/* line 670, ../sass/style.scss */
#block-views-home-publications-block .views-row {
  padding: 1em;
  border: 1px solid #dddddd;
  margin-bottom: 1em;
  position: relative;
}
/* line 675, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-left {
  width: 25%;
  text-align: center;
}
/* line 678, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-left .field-name-ds-user-picture {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  height: 10em;
  width: 10em;
  margin: auto;
}
/* line 684, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-left .field-name-ds-user-picture a, #block-views-home-publications-block .views-row .group-left .field-name-ds-user-picture a:link {
  display: block;
}
/* line 686, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-left .field-name-ds-user-picture a img, #block-views-home-publications-block .views-row .group-left .field-name-ds-user-picture a:link img {
  height: auto;
  width: 100%;
}
/* line 695, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-left .field-name-field-imagen,
#block-views-home-publications-block .views-row .group-left .field-name-file-blank,
#block-views-home-publications-block .views-row .group-left .name-field-imagen,
#block-views-home-publications-block .views-row .group-left .field-name-field-archivo {
  display: inline-block;
  *display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
/* line 702, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right {
  border-left: 1px solid #dddddd;
  padding-left: 1em;
  padding-bottom: 2.5em;
  width: 75%;
  min-height: 13em;
  float: right;
}

/*==end==*/
/*directorio*/
/* line 718, ../sass/style.scss */
.view-id-directorio {
  position: relative;
  padding-top: 4em;
  margin-top: 1em;
}
/* line 722, ../sass/style.scss */
.view-id-directorio .view-header {
  background: #333333;
  padding: 1em 0;
}
/* line 725, ../sass/style.scss */
.view-id-directorio .view-header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
/* line 729, ../sass/style.scss */
.view-id-directorio .view-header p a, .view-id-directorio .view-header p a:link {
  background-image: url(../images/ico-dir-home.png);
}
/* line 731, ../sass/style.scss */
.view-id-directorio .view-header p a:hover, .view-id-directorio .view-header p a:link:hover {
  background-image: url(../images/ico-dir-home-h.png);
}
/* line 734, ../sass/style.scss */
.view-id-directorio .view-header a, .view-id-directorio .view-header a:link {
  text-indent: -5000px;
  display: block;
  height: 2em;
  width: 5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
/* line 745, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 92%;
}
/* line 750, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .views-row {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
}
/* line 756, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .views-row:hover a, .view-id-directorio .view-header .view-id-departamento .views-row:hover a:link {
  text-indent: 0px;
  color: #333333;
  background-color: #f9bd14;
  position: absolute;
  top: -6em;
  height: 4em;
  background-position: center 85%;
  padding: 0.5em 0.5em 3.5em;
  z-index: 999;
  width: 6em;
  left: -1em;
}
/* line 772, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .views-row-last a, .view-id-directorio .view-header .view-id-departamento .views-row-last a:link {
  width: 4em;
}
/* line 774, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .comite-ejecutivo {
  background-image: url(../images/ico-dir-comite.png);
}
/* line 776, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .comite-ejecutivo:hover {
  background-image: url(../images/ico-dir-comite-h.png);
}
/* line 778, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .desarrollo-e-innovacion {
  background-image: url(../images/ico-dir-desarrollo.png);
}
/* line 780, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .desarrollo-e-innovacion:hover {
  background-image: url(../images/ico-dir-desarrollo-h.png);
}
/* line 782, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .direccion-medica {
  background-image: url(../images/ico-dir-direccion.png);
}
/* line 784, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .direccion-medica:hover {
  background-image: url(../images/ico-dir-direccion-h.png);
}
/* line 786, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .finanzas {
  background-image: url(../images/ico-dir-finanzas.png);
}
/* line 788, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .finanzas:hover {
  background-image: url(../images/ico-dir-finanzas-h.png);
}
/* line 790, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .galeno {
  background-image: url(../images/ico-dir-galeno.png);
}
/* line 792, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .galeno:hover {
  background-image: url(../images/ico-dir-galeno-h.png);
}
/* line 794, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .genericos-otc {
  background-image: url(../images/ico-dir-genericos.png);
}
/* line 796, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .genericos-otc:hover {
  background-image: url(../images/ico-dir-genericos-h.png);
}
/* line 798, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .gestion-humana {
  background-image: url(../images/ico-dir-gestion.png);
}
/* line 800, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .gestion-humana:hover {
  background-image: url(../images/ico-dir-gestion-h.png);
}
/* line 802, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .innova {
  background-image: url(../images/ico-dir-innova.png);
}
/* line 804, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .innova:hover {
  background-image: url(../images/ico-dir-innova-h.png);
}
/* line 806, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .internacional {
  background-image: url(../images/ico-dir-internacional.png);
}
/* line 808, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .internacional:hover {
  background-image: url(../images/ico-dir-internacional-h.png);
}
/* line 810, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .operaciones {
  background-image: url(../images/ico-dir-operaciones.png);
}
/* line 812, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .operaciones:hover {
  background-image: url(../images/ico-dir-operaciones-h.png);
}
/* line 814, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .supplay {
  background-image: url(../images/ico-dir-supplay.png);
}
/* line 816, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .supplay:hover {
  background-image: url(../images/ico-dir-supplay-h.png);
}
/* line 818, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .tecnologia-informatica {
  background-image: url(../images/ico-dir-tecnologia.png);
}
/* line 820, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .tecnologia-informatica:hover {
  background-image: url(../images/ico-dir-tecnologia-h.png);
}
/* line 824, ../sass/style.scss */
.view-id-directorio .view-filters {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 828, ../sass/style.scss */
.view-id-directorio .view-filters .views-widget-filter-combine {
  padding: 0;
  position: relative;
}
/* line 831, ../sass/style.scss */
.view-id-directorio .view-filters .views-widget-filter-combine label {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  font-weight: normal;
}
/* line 837, ../sass/style.scss */
.view-id-directorio .view-filters .views-widget-filter-combine .form-text {
  margin: 0;
}
/* line 839, ../sass/style.scss */
.view-id-directorio .view-filters .views-submit-button {
  padding: 0;
  position: relative;
}
/* line 842, ../sass/style.scss */
.view-id-directorio .view-filters .views-submit-button .form-submit {
  margin: 0;
  background: url(../images/ico-lupa.png) no-repeat center center white;
  border: 1px solid #dddddd;
  height: 31px;
  width: 35px;
  text-indent: -5000px;
  cursor: pointer;
}
/* line 853, ../sass/style.scss */
.view-id-directorio > .view-content {
  text-align: left;
}

/*==end==*/
/*perfil*/
/* line 864, ../sass/style.scss */
.user-profile {
  background: white;
}
/* line 866, ../sass/style.scss */
.user-profile .group-header {
  position: absolute;
  top: 1em;
  right: -20em;
  text-align: left;
  width: 20em;
}
/* line 872, ../sass/style.scss */
.user-profile .group-header a, .user-profile .group-header a:link {
  -webkit-border-radius: 0 3em 3em 0;
  -moz-border-radius: 0 3em 3em 0;
  border-radius: 0 3em 3em 0;
  background: url(../images/ico-pinon-azul.png) no-repeat 0.5em center #f9bd14;
  display: inline-block;
  padding: 1em 1em 1em 3em;
  color: #1f3264;
}
/* line 880, ../sass/style.scss */
.user-profile .group-left {
  width: 30%;
}
/* line 881, ../sass/style.scss */
.user-profile .group-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70%;
  background: #1f3264;
  color: white;
  padding: 1em;
}
/* line 887, ../sass/style.scss */
.user-profile .group-right .field {
  margin: 0.2em;
}
/* line 889, ../sass/style.scss */
.user-profile .group-right .field .field-label {
  display: inline-block;
  vertical-align: middle;
  text-indent: -5000px;
  width: 2em;
  height: 2em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 901, ../sass/style.scss */
.user-profile .group-right .field .field-items {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3em;
}
/* line 908, ../sass/style.scss */
.user-profile .group-right .field-name-field-departamento .field-label {
  background-image: url(../images/ico-colombia.png);
}
/* line 911, ../sass/style.scss */
.user-profile .group-right .field-name-field-cargo .field-label {
  background-image: url(../images/ico-cargo.png);
}
/* line 913, ../sass/style.scss */
.user-profile .group-right .field-name-field-nombre-completo {
  color: #f9bd14;
  font-size: 2em;
  font-family: "futuraB";
  border-bottom: 1px solid #0071bc;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}
/* line 920, ../sass/style.scss */
.user-profile .group-right .field-name-field-nombre-completo .field-label {
  display: none;
}
/* line 924, ../sass/style.scss */
.user-profile .group-footer .views-row {
  padding: 0.5em 1em 3em 1em;
  border-top: 1px solid #dddddd;
}
/* line 928, ../sass/style.scss */
.user-profile .group-footer .views-row .flag-outer-like {
  bottom: -2em;
  right: 0;
}
/* line 932, ../sass/style.scss */
.user-profile .group-footer .views-row .field-name-counter {
  bottom: -2em;
  left: 0;
}

/* line 939, ../sass/style.scss */
#block-ob-wall-ob-profile {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  height: 0;
}
/* line 943, ../sass/style.scss */
#block-ob-wall-ob-profile > .content {
  padding-top: 1em;
  border-top: 1px solid #dddddd;
  margin-top: 2em;
}
/* line 948, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-img {
  padding-left: 0;
  width: 15%;
}
/* line 953, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-info {
  width: 35%;
  min-height: 17.5em;
}
/* line 957, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-info .ob-name {
  font-size: 2em;
  font-family: "futuraB";
  padding-bottom: 0.3em;
  border-bottom: 1px solid #dddddd;
  margin: 0 0 0.3em 0;
  color: #f9bd14;
}
/* line 967, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-info .ob-depto {
  background: url(../images/ico-colombia.png) no-repeat left center;
  padding: 0.4em 0 0.4em 2em;
  color: #f9bd14;
}
/* line 972, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-info .ob-cargo {
  background: url(../images/ico-cargo.png) no-repeat left center;
  padding: 0.4em 0 0.4em 2em;
  color: #f9bd14;
}
/* line 977, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-user-info .ob-mail {
  background: url(../images/ico-mail.png) no-repeat left center;
  padding: 0.4em 0 0.4em 2em;
  color: white;
}
/* line 983, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-colaborator {
  border: none;
}
/* line 986, ../sass/style.scss */
#block-ob-wall-ob-profile .ob-colaborator .views-row {
  min-height: auto;
  width: 7em;
  vertical-align: middle;
}

/*==end==*/
