/*Sitio desarrollado por Cristian Hernandez / TFDC*/
@font-face {
  font-family: "futuraM";
  src: url(/orbit/sites/all/themes/orbit/fonts/tt0142m_-webfont.ttf) format('truetype'), url(/orbit/sites/all/themes/orbit/fonts/tt0142m_-webfont.eot) format('embedded-opentype');
}

@font-face {
  font-family: "futuraB";
  src: url(/orbit/sites/all/themes/orbit/fonts/tt0144m_-webfont.ttf) format('truetype'), url(/orbit/sites/all/themes/orbit/fonts/tt0144m_-webfont.eot) format('embedded-opentype');
}

@font-face {
  font-family: "florenceRegular";
  src: url(/orbit/sites/all/themes/orbit/fonts/florence-regular-webfont.ttf) format('truetype'), url(/orbit/sites/all/themes/orbit/fonts/florence-regular-webfont.eot) format('embedded-opentype');
}

/*=======colors=======*/
/*=======end=======*/
/*=======Border radius=======*/
/*=======end=======*/
/*generico*/
/* line 37, ../sass/style.scss */
body {
  font-size: 12px;
  font-family: "futuraM";
  font-weight: normal;
  color: #666666;
  margin: 0;
}

/* line 45, ../sass/style.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 48, ../sass/style.scss */
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 55, ../sass/style.scss */
p {
  margin-bottom: 0.5em;
}

/* line 57, ../sass/style.scss */
a, a:link {
  text-decoration: none;
}

/* line 59, ../sass/style.scss */
.clearfix:after, header:after, #og-wall-form #edit-image-ajax-wrapper .form-type-managed-file:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 60, ../sass/style.scss */
* html .clearfix, * html header, * html #og-wall-form #edit-image-ajax-wrapper .form-type-managed-file, #og-wall-form #edit-image-ajax-wrapper * html .form-type-managed-file {
  zoom: 1;
}

/* IE6 */
/* line 61, ../sass/style.scss */
*:first-child + html .clearfix, *:first-child + html header, *:first-child + html #og-wall-form #edit-image-ajax-wrapper .form-type-managed-file, #og-wall-form #edit-image-ajax-wrapper *:first-child + html .form-type-managed-file {
  zoom: 1;
}

/* IE7 */
/* line 63, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 65, ../sass/style.scss */
.ajax-progress {
  position: absolute;
}

/* line 67, ../sass/style.scss */
.grippie {
  display: none;
}

/* line 73, ../sass/style.scss */
textarea,
.form-email,
.form-number,
input[type="text"],
input[type="password"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "futuraM";
  border: 1px solid #DDD;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  width: 100%;
}

/* line 82, ../sass/style.scss */
input[type="file"] {
  position: relative;
  width: 3.5em;
  height: 2em;
  cursor: pointer;
}
/* line 87, ../sass/style.scss */
input[type="file"]:after {
  background: url(../images/ico-upload.png) center center no-repeat #f9bd14;
  border: 0.3em solid #826400;
  border-top: none;
  border-left: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 99, ../sass/style.scss */
input[type="file"]:hover:after {
  background-color: #826400;
}

/*==end==*/
/*artefactos*/
/* line 108, ../sass/style.scss */
input[type="file"]:after, .s_title_page:after {
  content: " ";
  position: absolute;
}

/* line 112, ../sass/style.scss */
#block-user-login {
  width: 50%;
  margin: auto;
}
/* line 115, ../sass/style.scss */
#block-user-login .webform-component-select {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #DDD;
}
/* line 122, ../sass/style.scss */
#block-user-login .webform-component-radios {
  display: inline-block;
  vertical-align: top;
}
/* line 125, ../sass/style.scss */
#block-user-login .webform-component-radios .form-type-radio {
  float: left;
  margin-right: 1em;
}
/* line 130, ../sass/style.scss */
#block-user-login .form-select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding-right: 4em;
  background: url(../images/btn-select.png) right center no-repeat;
  color: #666666;
  min-width: 15em;
}

/* line 148, ../sass/style.scss */
#block-user-login .form-submit, #og-wall-form #edit-image-ajax-wrapper .form-submit, #og-wall-form .form-type-textarea .form-submit, #og-wall-form #edit-archivo-ajax-wrapper .form-submit, #og-wall-form #edit-enviar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "futuraM";
  border: none;
  background: #666666;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  border: 0.3em solid #333333;
  border-top: none;
  border-left: none;
  cursor: pointer;
}
/* line 160, ../sass/style.scss */
#block-user-login .form-submit:hover, #og-wall-form #edit-image-ajax-wrapper .form-submit:hover, #og-wall-form .form-type-textarea .form-submit:hover, #og-wall-form #edit-archivo-ajax-wrapper .form-submit:hover, #og-wall-form #edit-enviar:hover {
  background-color: #333333;
}

/* line 165, ../sass/style.scss */
#block-user-login .form-submit, #og-wall-form #edit-image-ajax-wrapper .form-submit, #og-wall-form .form-type-textarea .form-submit, #og-wall-form #edit-archivo-ajax-wrapper .form-submit {
  color: #333333;
  background-color: #f9bd14;
  border-color: #826400;
}
/* line 170, ../sass/style.scss */
#block-user-login .form-submit:hover, #og-wall-form #edit-image-ajax-wrapper .form-submit:hover, #og-wall-form .form-type-textarea .form-submit:hover, #og-wall-form #edit-archivo-ajax-wrapper .form-submit:hover {
  color: white;
  background-color: #826400;
}

/* line 186, ../sass/style.scss */
#og-wall-form #edit-enviar {
  background-color: #0071bc;
  border-color: #1f3264;
}
/* line 190, ../sass/style.scss */
#og-wall-form #edit-enviar:hover {
  color: white;
  background-color: #1f3264;
}

/* line 207, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper, #og-wall-form .form-type-textarea, #og-wall-form #edit-archivo-ajax-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  position: absolute;
  padding: 1em;
  margin: 0;
  top: 0;
  width: 100%;
  background: white;
  height: 6em;
  z-index: 1;
}
/* line 222, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper label, #og-wall-form .form-type-textarea label, #og-wall-form #edit-archivo-ajax-wrapper label {
  position: absolute;
  top: -2em;
  width: 34%;
  background: #1f3264;
  color: white;
  height: 2em;
  line-height: 2em;
}
/* line 230, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper label:hover, #og-wall-form .form-type-textarea label:hover, #og-wall-form #edit-archivo-ajax-wrapper label:hover {
  background: #f9bd14;
  color: #1f3264;
}
/* line 235, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper .form-submit, #og-wall-form .form-type-textarea .form-submit, #og-wall-form #edit-archivo-ajax-wrapper .form-submit {
  float: right;
}

/* line 255, ../sass/style.scss */
.s_title_page:after {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid red;
}

/* line 270, ../sass/style.scss */
.s_title_page {
  padding: 1em 0 1em 1.5em;
  margin: 0;
  color: #1f3264;
  position: relative;
  text-transform: uppercase;
}
/* line 276, ../sass/style.scss */
.s_title_page:after {
  top: 15%;
  left: 0;
}

/*==end==*/
/*no-log*/
/* line 290, ../sass/style.scss */
.not-logged-in #first-time,
.not-logged-in #t-logo {
  display: none;
}

/*==end==*/
/* line 299, ../sass/style.scss */
.front .s_title_page {
  display: none;
}

/* line 301, ../sass/style.scss */
.s_title_page {
  width: 50%;
  float: left;
}
/* line 305, ../sass/style.scss */
.s_title_page:after {
  border-left-color: #f9bd14;
}

/* line 307, ../sass/style.scss */
header {
  background: #333333;
  position: fixed;
  width: 100%;
  height: 5em;
  line-height: 5em;
  z-index: 10;
  padding: 1px;
}

/* line 317, ../sass/style.scss */
nav {
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  width: 6%;
  height: 100%;
  padding-top: 8em;
  z-index: 9;
}
/* line 326, ../sass/style.scss */
nav h2 {
  display: none;
}
/* line 327, ../sass/style.scss */
nav .menu {
  text-align: center;
}
/* line 329, ../sass/style.scss */
nav .menu li {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0.5em auto;
  list-style: none;
  text-align: left;
}
/* line 336, ../sass/style.scss */
nav .menu li a, nav .menu li a:link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  position: absolute;
  background-color: transparent;
  background-position: left center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  display: block;
  text-transform: uppercase;
  text-indent: -5000px;
  padding: 1em;
  width: 100%;
}
/* line 352, ../sass/style.scss */
nav .menu li a:hover, nav .menu li a:link:hover {
  padding: 1em 1em 1em 7em;
  background-color: #333333;
  min-width: 500%;
  text-indent: 0;
  color: #f9bd14;
}
/* line 360, ../sass/style.scss */
nav .menu li .s_directory {
  background-image: url(../images/btn-ico-directorio.png);
}
/* line 362, ../sass/style.scss */
nav .menu li .s_directory:hover {
  background-image: url(../images/btn-ico-directorio-h.png);
}
/* line 364, ../sass/style.scss */
nav .menu li .s_plane {
  background-image: url(../images/btn-ico-planeador.png);
}
/* line 366, ../sass/style.scss */
nav .menu li .s_plane:hover {
  background-image: url(../images/btn-ico-planeador-h.png);
}
/* line 368, ../sass/style.scss */
nav .menu li .s_room {
  background-image: url(../images/btn-ico-salas.png);
}
/* line 370, ../sass/style.scss */
nav .menu li .s_room:hover {
  background-image: url(../images/btn-ico-salas-h.png);
}
/* line 372, ../sass/style.scss */
nav .menu li .s_casino {
  background-image: url(../images/btn-ico-menu.png);
}
/* line 374, ../sass/style.scss */
nav .menu li .s_casino:hover {
  background-image: url(../images/btn-ico-menu-h.png);
}

/* line 379, ../sass/style.scss */
#content-wrapper {
  float: right;
  width: 94%;
  margin-top: 7em;
}
/* line 383, ../sass/style.scss */
#content-wrapper #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding: 1em;
  border-right: 1px solid #dddddd;
}

/*muro*/
/* line 394, ../sass/style.scss */
#og-wall-form {
  border: 1px solid #dddddd;
  width: 70%;
  float: right;
  text-align: center;
  position: relative;
  padding-top: 6em;
  margin-top: 3em;
}
/* line 402, ../sass/style.scss */
#og-wall-form .active {
  z-index: 3;
}
/* line 405, ../sass/style.scss */
#og-wall-form #edit-image-ajax-wrapper label {
  left: 0;
}
/* line 412, ../sass/style.scss */
#og-wall-form .form-type-textarea label {
  left: 33%;
}
/* line 413, ../sass/style.scss */
#og-wall-form .form-type-textarea textarea {
  border-color: #dddddd;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 4em;
  padding: 0;
}
/* line 423, ../sass/style.scss */
#og-wall-form #edit-archivo-ajax-wrapper label {
  left: 66%;
}
/* line 425, ../sass/style.scss */
#og-wall-form .form-type-managed-file {
  text-align: center;
}
/* line 427, ../sass/style.scss */
#og-wall-form .form-type-managed-file .form-submit {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}
/* line 433, ../sass/style.scss */
#og-wall-form input[type="file"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  position: relative;
  top: -2px;
  height: 2.2em;
}
/* line 441, ../sass/style.scss */
#og-wall-form .form-type-select {
  margin: 1em 0 1em 1em;
  padding-right: 1em;
  float: left;
  border-right: 1px solid;
}
/* line 446, ../sass/style.scss */
#og-wall-form .form-type-select select {
  width: 6em;
  border: none;
  font-family: "futuraM";
  font-weight: normal;
}
/* line 451, ../sass/style.scss */
#og-wall-form .form-type-select select option {
  background: #f9bd14;
  color: black;
}
/* line 457, ../sass/style.scss */
#og-wall-form #edit-enviar {
  float: left;
  margin: 0.5em;
}

/* line 464, ../sass/style.scss */
#block-views-home-publications-block {
  clear: both;
  padding-top: 2em;
}
/* line 467, ../sass/style.scss */
#block-views-home-publications-block .views-row {
  padding: 1em;
  border: 1px solid #dddddd;
  margin-bottom: 1em;
  position: relative;
}
/* line 472, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-left {
  border-right: 1px solid #dddddd;
  margin-right: 1em;
  width: 25%;
  text-align: center;
  padding-right: 1em;
}
/* line 479, ../sass/style.scss */
#block-views-home-publications-block .views-row .group-right {
  width: 70%;
}
/* line 480, ../sass/style.scss */
#block-views-home-publications-block .views-row .field-name-ds-user-picture {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  width: 50%;
  margin: auto;
}
/* line 485, ../sass/style.scss */
#block-views-home-publications-block .views-row .field-name-ds-user-picture a, #block-views-home-publications-block .views-row .field-name-ds-user-picture a:link {
  display: block;
}
/* line 487, ../sass/style.scss */
#block-views-home-publications-block .views-row .field-name-ds-user-picture a img, #block-views-home-publications-block .views-row .field-name-ds-user-picture a:link img {
  height: auto;
  width: 100%;
}
/* line 493, ../sass/style.scss */
#block-views-home-publications-block .views-row .field-name-body {
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2em;
}
/* line 498, ../sass/style.scss */
#block-views-home-publications-block .views-row .flag-outer-like {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
/* line 502, ../sass/style.scss */
#block-views-home-publications-block .views-row .flag-outer-like a, #block-views-home-publications-block .views-row .flag-outer-like a:link {
  background: url(../images/ico-unlike.png) right center no-repeat;
  text-indent: -5000px;
  height: 1.5em;
  width: 1.5em;
  display: block;
  padding-left: 0.5em;
  border-left: 1px solid #dddddd;
}
/* line 511, ../sass/style.scss */
#block-views-home-publications-block .views-row .flag-outer-like .flag-throbber {
  position: absolute;
}
/* line 513, ../sass/style.scss */
#block-views-home-publications-block .views-row .field-name-counter {
  position: absolute;
  left: 30%;
  bottom: 0.5em;
}
/* line 517, ../sass/style.scss */
#block-views-home-publications-block .views-row .field-name-counter .field-item {
  background: url(../images/ico-like.png) left center no-repeat;
  color: #f9bd14;
  font-weight: bold;
  text-align: right;
  height: 1.5em;
  width: 1.5em;
  display: block;
  padding: 0 1em;
  border-right: 1px solid #dddddd;
  font-size: 1.2em;
}

/*==end==*/
/*directorio*/
/* line 537, ../sass/style.scss */
.view-id-directorio {
  position: relative;
  padding-top: 4em;
  margin-top: 1em;
}
/* line 541, ../sass/style.scss */
.view-id-directorio .view-header {
  background: #333333;
  padding: 1em 0;
}
/* line 544, ../sass/style.scss */
.view-id-directorio .view-header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
/* line 548, ../sass/style.scss */
.view-id-directorio .view-header p a, .view-id-directorio .view-header p a:link {
  background-image: url(../images/ico-dir-home.png);
}
/* line 550, ../sass/style.scss */
.view-id-directorio .view-header p a:hover, .view-id-directorio .view-header p a:link:hover {
  background-image: url(../images/ico-dir-home-h.png);
}
/* line 553, ../sass/style.scss */
.view-id-directorio .view-header a, .view-id-directorio .view-header a:link {
  text-indent: -5000px;
  display: block;
  height: 2em;
  width: 5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
/* line 564, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 92%;
}
/* line 569, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .views-row {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
}
/* line 575, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .views-row:hover a, .view-id-directorio .view-header .view-id-departamento .views-row:hover a:link {
  text-indent: 0px;
  color: #333333;
  background-color: #f9bd14;
  position: absolute;
  top: -6em;
  height: 4em;
  background-position: center 85%;
  padding: 0.5em 0.5em 3.5em;
  z-index: 999;
  width: 6em;
  left: -1em;
}
/* line 591, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .views-row-last a, .view-id-directorio .view-header .view-id-departamento .views-row-last a:link {
  width: 4em;
}
/* line 593, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .comite-ejecutivo {
  background-image: url(../images/ico-dir-1.png);
}
/* line 595, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .comite-ejecutivo:hover {
  background-image: url(../images/ico-dir-1-h.png);
}
/* line 597, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .desarrollo-e-innovacion {
  background-image: url(../images/ico-dir-2.png);
}
/* line 599, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .desarrollo-e-innovacion:hover {
  background-image: url(../images/ico-dir-2-h.png);
}
/* line 601, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .direccion-medica {
  background-image: url(../images/ico-dir-3.png);
}
/* line 603, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .direccion-medica:hover {
  background-image: url(../images/ico-dir-3-h.png);
}
/* line 605, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .finanzas {
  background-image: url(../images/ico-dir-4.png);
}
/* line 607, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .finanzas:hover {
  background-image: url(../images/ico-dir-4-h.png);
}
/* line 609, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .galeno {
  background-image: url(../images/ico-dir-5.png);
}
/* line 611, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .galeno:hover {
  background-image: url(../images/ico-dir-5-h.png);
}
/* line 613, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .genericos-otc {
  background-image: url(../images/ico-dir-6.png);
}
/* line 615, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .genericos-otc:hover {
  background-image: url(../images/ico-dir-6-h.png);
}
/* line 617, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .gestion-humana {
  background-image: url(../images/ico-dir-7.png);
}
/* line 619, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .gestion-humana:hover {
  background-image: url(../images/ico-dir-7-h.png);
}
/* line 621, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .innova {
  background-image: url(../images/ico-dir-8.png);
}
/* line 623, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .innova:hover {
  background-image: url(../images/ico-dir-8-h.png);
}
/* line 625, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .internacional {
  background-image: url(../images/ico-dir-9.png);
}
/* line 627, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .internacional:hover {
  background-image: url(../images/ico-dir-9-h.png);
}
/* line 629, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .operaciones {
  background-image: url(../images/ico-dir-10.png);
}
/* line 631, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .operaciones:hover {
  background-image: url(../images/ico-dir-10-h.png);
}
/* line 633, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .supplay {
  background-image: url(../images/ico-dir-11.png);
}
/* line 635, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .supplay:hover {
  background-image: url(../images/ico-dir-11-h.png);
}
/* line 637, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .tecnologia-informatica {
  background-image: url(../images/ico-dir-12.png);
}
/* line 639, ../sass/style.scss */
.view-id-directorio .view-header .view-id-departamento .tecnologia-informatica:hover {
  background-image: url(../images/ico-dir-12-h.png);
}
/* line 643, ../sass/style.scss */
.view-id-directorio .view-filters {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 647, ../sass/style.scss */
.view-id-directorio .view-filters .views-widget-filter-combine {
  padding: 0;
  position: relative;
}
/* line 650, ../sass/style.scss */
.view-id-directorio .view-filters .views-widget-filter-combine label {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  font-weight: normal;
}
/* line 656, ../sass/style.scss */
.view-id-directorio .view-filters .views-widget-filter-combine .form-text {
  margin: 0;
}
/* line 658, ../sass/style.scss */
.view-id-directorio .view-filters .views-submit-button {
  padding: 0;
  z-index: 2;
  position: relative;
}
/* line 662, ../sass/style.scss */
.view-id-directorio .view-filters .views-submit-button .form-submit {
  margin: 0;
  background: url(../images/ico-lupa.png) no-repeat center center white;
  border: 1px solid #dddddd;
  height: 31px;
  width: 35px;
  text-indent: -5000px;
  cursor: pointer;
}
/* line 673, ../sass/style.scss */
.view-id-directorio > .view-content {
  text-align: left;
}
/* line 675, ../sass/style.scss */
.view-id-directorio > .view-content .views-row {
  display: inline-block;
  *display: inline-block;
  vertical-align: top;
  position: relative;
  width: 14.3%;
  min-height: 9em;
  margin: 0.3em 0;
  text-align: center;
  cursor: pointer;
}
/* line 685, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-picture img {
  height: auto;
  width: 100%;
}
/* line 689, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-nothing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #f9bd14;
  color: #1f3264;
}
/* line 698, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-nothing .s_user_name {
  text-transform: capitalize;
  margin-top: 4em;
  font-size: 1.3em;
}
/* line 703, ../sass/style.scss */
.view-id-directorio > .view-content .views-row .views-field-nothing .s_user_dept {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #1f3264;
  width: 90%;
  margin: auto;
}
/* line 711, ../sass/style.scss */
.view-id-directorio > .view-content .views-row:hover .views-field-nothing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 713, ../sass/style.scss */
.view-id-directorio > .view-content .views-row:hover .views-field-nothing * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*==end==*/
