/*Sitio desarrollado por Cristian Hernandez / TFDC*/
@font-face {
  font-family: "futuraM";
  src: url(/sites/all/themes/orbit/fonts/tt0142m_-webfont.ttf) format('truetype'), url(/sites/all/themes/orbit/fonts/tt0142m_-webfont.eot) format('embedded-opentype');
}

@font-face {
  font-family: "futuraB";
  src: url(/sites/all/themes/orbit/fonts/tt0144m_-webfont.ttf) format('truetype'), url(/sites/all/themes/orbit/fonts/tt0144m_-webfont.eot) format('embedded-opentype');
}

@font-face {
  font-family: "florenceRegular";
  src: url(/sites/all/themes/orbit/fonts/florence-regular-webfont.ttf) format('truetype'), url(/sites/all/themes/orbit/fonts/florence-regular-webfont.eot) format('embedded-opentype');
}

/*=======colors=======*/
/*=======end=======*/
/*=======Border radius=======*/
/*=======end=======*/
/*generico*/
/* line 36, ../sass/style.scss */
body {
  font-size: 12px;
  font-family: "futuraM";
  color: #666666;
  margin: 0;
}

/* line 43, ../sass/style.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 46, ../sass/style.scss */
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 53, ../sass/style.scss */
p {
  margin-bottom: 0.5em;
}

/* line 55, ../sass/style.scss */
a, a:link {
  text-decoration: none;
}

/* line 57, ../sass/style.scss */
.clearfix:after, header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 58, ../sass/style.scss */
* html .clearfix, * html header {
  zoom: 1;
}

/* IE6 */
/* line 59, ../sass/style.scss */
*:first-child + html .clearfix, *:first-child + html header {
  zoom: 1;
}

/* IE7 */
/* line 61, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 63, ../sass/style.scss */
.ajax-progress {
  position: absolute;
}

/* line 69, ../sass/style.scss */
textarea,
.form-email,
.form-number,
input[type="text"],
input[type="password"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #DDD;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  width: 100%;
}

/*==end==*/
/*artefactos*/
/* line 85, ../sass/style.scss */
#block-user-login {
  width: 50%;
  margin: auto;
}
/* line 88, ../sass/style.scss */
#block-user-login .webform-component-select {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #DDD;
}
/* line 95, ../sass/style.scss */
#block-user-login .webform-component-radios {
  display: inline-block;
  vertical-align: top;
}
/* line 98, ../sass/style.scss */
#block-user-login .webform-component-radios .form-type-radio {
  float: left;
  margin-right: 1em;
}
/* line 103, ../sass/style.scss */
#block-user-login .form-select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding-right: 4em;
  background: url(../images/btn-select.png) right center no-repeat;
  color: #666666;
  min-width: 15em;
}

/* line 118, ../sass/style.scss */
.form-submit, .form-file {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "futuraM";
  border: none;
  background: #666666;
  color: white;
  padding: 0.5em 1em;
  position: relative;
  border: 0.3em solid #333333;
  border-top: none;
  border-left: none;
  cursor: pointer;
}
/* line 130, ../sass/style.scss */
.form-submit:hover, .form-file:hover {
  background-color: #333333;
}

/* line 135, ../sass/style.scss */
.form-submit {
  color: #333333;
  background-color: #f9bd14;
  border-color: #826400;
}
/* line 140, ../sass/style.scss */
.form-submit:hover {
  color: white;
  background-color: #826400;
}

/* line 156, ../sass/style.scss */
.form-file {
  background-color: #0071bc;
  border-color: #1f3264;
}
/* line 160, ../sass/style.scss */
.form-file:hover {
  color: white;
  background-color: #1f3264;
}

/*==end==*/
/* line 180, ../sass/style.scss */
.form-submit {
  float: right;
}

/* line 184, ../sass/style.scss */
.form-file {
  text-indent: -5000px;
}

/*no-log*/
/* line 193, ../sass/style.scss */
.not-logged-in #first-time,
.not-logged-in #t-logo {
  display: none;
}

/*==end==*/
/* line 202, ../sass/style.scss */
header {
  background: #333333;
  position: fixed;
  width: 100%;
  height: 5em;
  line-height: 5em;
  z-index: 10;
}

/* line 211, ../sass/style.scss */
nav {
  background: #333333;
  position: fixed;
  top: 0;
  left: 0;
  width: 6%;
  height: 100%;
  padding-top: 6em;
  z-index: 10;
}
/* line 220, ../sass/style.scss */
nav h2 {
  display: none;
}
/* line 221, ../sass/style.scss */
nav .menu {
  text-align: center;
}
/* line 223, ../sass/style.scss */
nav .menu li {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0.5em auto;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 233, ../sass/style.scss */
nav .menu li a, nav .menu li a:link {
  color: white;
  position: absolute;
  background: #333;
  height: 45px;
  line-height: 45px;
  padding: 0 1em;
  top: 2px;
  left: 120%;
  display: none;
}
/* line 244, ../sass/style.scss */
nav .menu li:hover a {
  display: block;
}
/* line 246, ../sass/style.scss */
nav .menu li:first-child {
  background-image: url(../images/btn-ico-directorio.png);
}
/* line 248, ../sass/style.scss */
nav .menu li:first-child:hover {
  background-image: url(../images/btn-ico-directorio-h.png);
}
/* line 250, ../sass/style.scss */
nav .menu li:nth-child(2) {
  background-image: url(../images/btn-ico-menu.png);
}
/* line 252, ../sass/style.scss */
nav .menu li:nth-child(2):hover {
  background-image: url(../images/btn-ico-menu-h.png);
}
/* line 254, ../sass/style.scss */
nav .menu li:nth-child(3) {
  background-image: url(../images/btn-ico-planeador.png);
}
/* line 256, ../sass/style.scss */
nav .menu li:nth-child(3):hover {
  background-image: url(../images/btn-ico-planeador-h.png);
}
/* line 258, ../sass/style.scss */
nav .menu li:nth-child(4) {
  background-image: url(../images/btn-ico-salas.png);
}
/* line 260, ../sass/style.scss */
nav .menu li:nth-child(4):hover {
  background-image: url(../images/btn-ico-salas-h.png);
}
/* line 262, ../sass/style.scss */
nav .menu li:last-child {
  background-image: url(../images/btn-ico-docs.png);
}
/* line 264, ../sass/style.scss */
nav .menu li:last-child:hover {
  background-image: url(../images/btn-ico-docs-h.png);
}

/* line 268, ../sass/style.scss */
#content-wrapper {
  float: right;
  width: 94%;
  margin-top: 7em;
}
/* line 272, ../sass/style.scss */
#content-wrapper #content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 70%;
  padding: 1em;
}

/*muro*/
/* line 283, ../sass/style.scss */
.block-ob-wall form #edit-image-ajax-wrapper:first-child {
  display: none;
}

/*==end==*/
