/*Sitio desarrollado por Cristian Hernandez / TFDC*/

@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass";
@import "compass/css3/border-radius";
@import "compass/utilities";
@import "compass/css3/transform";
@include font-face("futuraM", font-files("/sites/all/themes/orbit/fonts/tt0142m_-webfont.ttf", "/sites/all/themes/orbit/fonts/tt0142m_-webfont.eot"));
@include font-face("futuraB", font-files("/sites/all/themes/orbit/fonts/tt0144m_-webfont.ttf", "/sites/all/themes/orbit/fonts/tt0144m_-webfont.eot"));
@include font-face("florenceRegular", font-files("/sites/all/themes/orbit/fonts/florence-regular-webfont.ttf", "/sites/all/themes/orbit/fonts/florence-regular-webfont.eot"));

/*=======colors=======*/

$orbit-gray: 				#666666;
$orbit-gray-dark: 			#333333;
$orbit-gray-light: 			#DDDDDD;
$orbit-yellow: 				#F9BD14;
$orbit-yellow-dark: 		#826400;
$orbit-red: 				#E41E25;
$orbit-red-dark: 			#8A181B;
$orbit-green: 				#83C341;
$orbit-green-dark: 			#09743B;
$orbit-blue: 				#0071BC;
$orbit-blue-dark: 			#1F3264;


/*=======end=======*/

/*=======Border radius=======*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; border-radius: $radius; }

/*=======end=======*/

/*generico*/

html { 
	height: 100%;
	div.messages {
		font-size: 1em;
		color: white;
		padding: 0.7em;
		text-align: center;
		border: none;
		font-weight: normal;
	}
	div.error {
		background-color: $orbit-red;
		background-image: none;
	}
	div.status {
		background-color: $orbit-green-dark;
		background-image: none;
	}
	div.warning {
		background-color: $orbit-yellow;
		background-image: none;
	}
	input.error { background-color: none;}
}
body {
	font-size: 12px;
	font-family: "futuraM";
	font-weight: normal;
	color: $orbit-gray;
	margin: 0;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

p { margin: 0 0 0.5em 0;}

a, a:link { 
	color: $orbit-blue;
	text-decoration: none;
	&:hover { color: $orbit-yellow;}
}

select {
	border: none;
	font-family: "futuraM";
	font-weight: normal;
	option {
		background: $orbit-yellow;
		color: black;
		}
}

*:focus {
	outline: none;
}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clear { clear: both;}

.ajax-progress { position: absolute;}

.element-invisible,
#first-time,
.grippie { display: none;}

textarea,
.form-email,
.form-number,
input[type="text"],
input[type="password"] {
	@include box-sizing(border-box);
	@include border-radius(0);
	font-family: "futuraM";
	border: 1px solid #DDD;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	width: 100%;
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
.status { background: $orbit-green;}

#cboxClose { 
	cursor: pointer;
	text-indent: -5000px;
	position: absolute;
	top: -3em;
	right: 1em;
	background: url(../images/btn-close.png) no-repeat center bottom;
	border: none;
	width: 2.5em;
	height: 3em;
	&:hover { background: url(../images/btn-close-h.png) no-repeat center bottom;}
}

#cboxOverlay {
	background: black;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99;
}

#cboxCurrent,
#cboxPrevious,
#cboxNext { display: none !important;}

/*==end==*/

/*artefactos*/

%after-before {
	content: " ";
	position: absolute;
}
%form {
	width: 50%;
	margin: auto;
	.webform-component-select {
		display: inline-block;
		vertical-align: top;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid #DDD;
	}
	.webform-component-radios {
		display: inline-block;
		vertical-align: top;
		.form-type-radio {
			float: left;
			margin-right: 1em;
		}
	}
	.form-select {
		@include border-radius(5px);
		border: 1px solid #DDD;
		padding-right: 4em;
		background: url(../images/btn-select.png) right center no-repeat;
		color: #666666;
		min-width: 15em;
	}
	.form-submit {
		@extend %btn-yellow;
	}
}

%b-a {
	content: " ";
	position: absolute;
}

%submit {
	@include border-radius(0);
	font-family: "futuraM";
	border: none;
	background: $orbit-gray;
	color: white;
	padding: 0.5em 1em;
	position: relative;
	border: 0.3em solid $orbit-gray-dark;
	border-top: none;
	border-left: none;
	cursor: pointer;
	&:hover {
		background-color: $orbit-gray-dark;
	}
}

%btn-yellow {
	@extend %submit;
	color: $orbit-gray-dark;
	background-color: $orbit-yellow;
	border-color: $orbit-yellow-dark;
	&:hover {
		color: $orbit-yellow;
		background-color: $orbit-yellow-dark;
	}
}

%btn-green {
	@extend %submit;
	background-color: $orbit-green;
	border-color: $orbit-green-dark;
	&:hover {
		color: $orbit-green;
		background-color: $orbit-green-dark;

	}
}

%btn-blue {
	@extend %submit;
	background-color: $orbit-blue;
	border-color: $orbit-blue-dark;
	&:hover {
		color: $orbit-blue;
		background-color: $orbit-blue-dark;
	}
}

%btn-red {
	@extend %submit;
	background-color: $orbit-red;
	border-color: $orbit-red-dark;
	&:hover {
		color: $orbit-red;
		background-color: $orbit-red-dark;
	}
}

%muro-contenedores {
	@include box-sizing(border-box);
	display: block;
	border: 1px solid $orbit-gray-light;
	border-top: none;
	position: absolute;
	padding: 1em;
	margin: 0;
	top: 0;
	width: 100%;
	background: white;
	height: 7.5em;
	z-index: 1;
	label {
		position: absolute;
		top: -2em;
		width: 34%;
		background: $orbit-blue-dark;
		color: white;
		height: 2em;
		line-height: 2em;
		&:hover {
			background: $orbit-yellow;
			color: $orbit-blue-dark;
		}
	}
	.form-submit {
		@extend %btn-yellow;
		float: right;
	}
}

%arrow-up {
	width: 0; 
	height: 0; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid red;
}
%arrow-down {
	width: 0; 
	height: 0; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;	
	border-top: 1em solid red;
}
%arrow-right {
	width: 0; 
	height: 0; 
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;	
	border-left: 1em solid red;
}
%arrow-left {
	width: 0; 
	height: 0; 
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent; 	
	border-right:1em solid red; 
}

%titular {
	padding: 1em 0 1em 1.5em;
	margin: 0;
	color: $orbit-blue-dark;
	position: relative;
	text-transform: uppercase;
	&:after {
		@extend %after-before;
		@extend %arrow-right;
		top: 15%;
		left: 0;
	}
}
%sub-titulo {
	color: $orbit-blue-dark;
	margin: 0;
	display: inline-block;
	background: white;
	padding: 0.5em;
	position: relative;
}
%view-comentarios {
	@include box-sizing(border-box);
	position: relative;
	.field-name-delete {
		position: absolute;
		top: -1em;
		right: -1em;
		a, a:link {
			display: block;
			padding: 0.5em;
			border: 1px solid $orbit-gray-light;
			border-top: none;
			border-right: none;
		}
	}
	.flag-outer-like {
		position: absolute;
		width: 20%;
		padding: 0.5em 1em 0 0;
		border-top: 1px solid $orbit-gray-light;
		bottom: 0;
		right: 2em;
		span { float: right;}
		.flag {
			background: url(../images/ico-unlike.png) right center no-repeat;
			text-indent: -5000px;
			height: 1.2em;
			width: 1.5em;
			display: block;
			padding-left: 0.5em;
			border-left: 1px solid #dddddd;
		}
		.flag-throbber { position: absolute;}
		.unflag-action { background: url(../images/ico-like.png) right center no-repeat;}
	}
	.field-name-file-blank {
		border-top: 1px solid #EEEEEE;
		padding-top: 0.3em;
	}
	.field-name-counter {
		position: absolute;
		padding-top: 0.5em;
		border-top: 1px solid #dddddd;
		bottom: 0;
		right: 0;
		.field-item {
			color: $orbit-yellow;
			font-weight: bold;
			text-align: right;
			height: 1em;
			width: 1.2em;
			display: block;
			padding-left: 1em;
			border-left: 1px solid $orbit-gray-light;
			font-size: 1.2em;
		}
	}
	.field-name-shared {
		width: 80%;
		background: url(../images/ico-zona.png) no-repeat left center;
		position: absolute;
		bottom: 0em;
		left: 1em;		
		padding: 0.45em 0 0em 2em;
		border-top: 1px solid $orbit-gray-light;
		.form-type-select { 
			margin: -7px 0 0 0;
			position: relative;
			top: 3px;
		}
		.form-select { color: $orbit-gray;}
	}
}
%perfil-content {
	@include box-sizing(border-box);
	display: inline-block;
	*display: inline-block;
	vertical-align: top;
	padding: 0 1em;
	border-right: 1px solid $orbit-gray-light;
}

%view-colaboradores {
	display: inline-block;
	*display: inline-block;
	vertical-align: top;
	position: relative;
	width: 13.3%;
	min-height: 9em;
	margin: 0.5em 0.1em;
	text-align: center;
	cursor: pointer;
	.views-field-picture img {
		height: auto;
		width: 100%;
	}
	.views-field-nothing {
		@include opacity(0);
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		background: $orbit-yellow;
		color: $orbit-blue-dark;
		.s_user_name {
			text-transform: capitalize;
			margin-top: 4em;
			font-size: 1.3em;
		}
		.s_user_dept {
			padding-bottom: 0.2em;
			border-bottom: 1px solid $orbit-blue-dark;
			width: 90%;
			margin: auto;
		}
	}
	&:hover {
		.views-field-nothing {
			@include opacity(0.7);
			* {	@include opacity(1);}
		}
	}
	.views-field-uid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		a, a:link {
			text-indent: -5000px;
			display: block;
			width: 100%;
			min-height: 10em;
		}
	}
}
%tabs {
	ul { 
		margin: 0;
		border-bottom: 1px solid $orbit-gray-light;
	}
	li {
		margin: 0;
		padding: 0;
		position: relative;
		top: 1px;
		a, a:link {
			padding: 0.5em 1em;
			display: inline-block;
			background: $orbit-gray-light;
			color: $orbit-blue-dark;
			font-family: "futuraB";
			text-transform: uppercase;
			font-size: 1.1em;
			border: 1px solid $orbit-gray-light;
			border-bottom: none;
			margin-right: 0.3em;
			&:hover { background: white;}
		}
	}
	.active {
		a, a:link { 
			border-bottom: 1px solid white;
			background: white;
		}
	}
}

%color-planeador-tipos {
	.views-field {
		position: relative;
		z-index: 2;
	}
	.views-field-php {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}
	.s-color_celebración,
	.s-color_celebracion { 
		background: #E7B041;
		height: 100%;
		width: 100%;
	}
	.s-color_cierre_contable {
		background: #2E3687;
		height: 100%;
		width: 100%;
	}
	.s-color_cierre_nomina {
		background: #BD9C69;
		height: 100%;
		width: 100%;
	}
	.s-color_cita_médica,
	.s-color_cita_medica {
		background: #D0684B;
		height: 100%;
		width: 100%;
	}
	.s-color_coaching {
		background: #559F99;
		height: 100%;
		width: 100%;
	}
	.s-color_comité_ejecutivo,
	.s-color_comite_ejecutivo {
		background: #A21B25;
		height: 100%;
		width: 100%;
	}
	.s-color_comité_estratégico,
	.s-color_comite_estrategico {
		background: #C6362E;
		height: 100%;
		width: 100%;
	}
	.s-color_cumpleaños,
	.s-color_cumpleanos {
		background: #F7E939;
		height: 100%;
		width: 100%;
	}
	.s-color_junta_directiva {
		background: #59277F;
		height: 100%;
		width: 100%;
	}
	.s-color_llamada {
		background: #8A1E59;
		height: 100%;
		width: 100%;
	}
	.s-color_presentación,
	.s-color_presentacion {
		background: #69A841;
		height: 100%;
		width: 100%;
	}
	.s-color_recordatorio {
		background: #68A7DE;
		height: 100%;
		width: 100%;
	}
	.s-color_ {
		background: $orbit-gray;
		height: 100%;
		width: 100%;
	}
}

%view-salas {
	@include box-sizing(border-box);
	border-right: 1px solid $orbit-gray-light;
	padding-right: 1em;
	width: 28%;	
}

/*==end==*/

/*no-log*/

.not-logged-in {
	#first-time,
	#t-logo { display: none;}
}

#block-user-login {
	@extend %form;
	ul li { margin: 0;}
	.first { display: none;}
}

/*==end==*/


.front {
	#block-views-directorio-block-1,
	.s_title_page { display: none;}
}
.s_title_page {
	@extend %titular;
	width: 50%;
	float: left;
	&:after { border-left-color: $orbit-yellow;}
}
header {
	@include clearfix;
	@include box-sizing(border-box);
	background: $orbit-gray-dark;
	position: fixed;
	width: 100%;
	z-index: 10;
	padding: 1em;
	overflow: visible;
	#block-block-1 { z-index: 3;}
}
nav {
	background: $orbit-gray-dark;
	position: fixed;
	top: 0;
	left: 0;
	width: 6%;
	height: 100%;
	padding-top: 8em;
	z-index: 9;
	h2 { display: none;}
	.menu {
		text-align: center;
		li {
			position: relative;
			width: 45px;
			height: 45px;
			margin: 0.5em auto;
			list-style: none;
			text-align: left;
			border-bottom: 1px solid $orbit-gray;
			a, a:link {
				@include box-sizing(border-box);
				color: white;
				position: absolute;
				background: {
					color: transparent;
					position: left center;
					repeat: no-repeat;
				}
				top: 0;
				left: 0;
				display: block;
				text-transform: uppercase;
				text-indent: -5000px;
				padding: 1em;
				width: 100%;
				&:hover {
					padding: 1em 1em 1em 7em;
					background-color: $orbit-gray-dark;
					min-width: 500%;
					text-indent: 0;
					color: $orbit-yellow;
				}
			}
			.s_directory {
				background-image: url(../images/btn-ico-directorio.png);
				&:hover { background-image: url(../images/btn-ico-directorio-h.png);}
			}
			.s_plane {
				background-image: url(../images/btn-ico-planeador.png);
				&:hover { background-image: url(../images/btn-ico-planeador-h.png);}
			}
			.s_room {
				background-image: url(../images/btn-ico-salas.png);
				&:hover { background-image: url(../images/btn-ico-salas-h.png);}
			}
			.s_casino {
				background-image: url(../images/btn-ico-menu.png);
				&:hover { background-image: url(../images/btn-ico-menu-h.png);}
			}
		}
		.first {
			.s_home {
				background-image: url(../images/ico-dir-home-h.png);
				background-position: center center;
				&:hover { 
					background: url(../images/ico-dir-home.png);
					background-repeat: no-repeat;
					background-color: $orbit-gray-dark;
					background-position: 1em center;
				}
			}
		}
		.last { border: none;}
	}
}
.ob-header-links {
	width: 50%;
	padding-top: 1em;
	margin-left: 22%;
	text-align: right;
	color: white;
	> div {
		display: inline-block;
		*display: inline-block;
		vertical-align: middle;
		padding: 0 1em;
		border-right: 1px solid $orbit-gray;
		height: 25px;
		line-height: 25px;
		&:last-child { border: none;}
	}
	.ob-notifications {
		cursor: pointer;
		background: url(../images/ico-notificacion.png)no-repeat center center;
		width: 25px;
		&:hover { background-image: url(../images/ico-notificacion-h.png);}
	}
	a, a:link { color: white;}
}
#content-wrapper {
	@include clearfix;
	float: right;
	width: 94%;
	position: relative;
	top: 6em;
	margin-top: 1em;
	#content  {
		@include box-sizing(border-box);
		float: left;
		width: 70%;
		padding: 1em 2em;
		border-right: 1px solid $orbit-gray-light;
	}
}

/*muro*/
#block-ob-wall-ob-phrase {
	@include box-sizing(border-box);
	width: 28%;
	float: left;
	color: $orbit-blue-dark;
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
	padding: 0 2.3em;
	position: relative;
	text-align: center;
	&:after {
		@extend %after-before;
		width: 40px;
		height: 27px;
		top: 0;
		left: 0;
		background-image: url(../images/comillas.png);
	}
	&:before {
		@extend %after-before;
		width: 40px;
		height: 27px;
		bottom: 0;
		right: 0;
		background-image: url(../images/comillas2.png);
	}
}
#block-ob-wall-ob-create-post {
	width: 70%;
	float: right;
}
#og-wall-form {
	position: relative;
	.active { 
		z-index: 3;
		label {
			background: $orbit-yellow;
			color: $orbit-blue-dark;
		}
	}
	.ob_text {
		label {	left: 33%;}
		textarea {	
			border-color: $orbit-gray-light;
			height: 4em;
			padding: 0;
		}
		.ob_wall_head {
			background: $orbit-blue-dark;
			margin: 0;
			padding: 1em;
			color: white;
		}
		.form-item { margin-bottom: 0;}
	}
	.ob_actions { 
		@include clearfix;
		border-top: 1px solid $orbit-gray-light;
		margin-top: 1em;
		padding-top: 1em;
		#edit-archivo-ajax-wrapper {
			display: inline-block;
			vertical-align: middle;
			.form-submit { display: none;}
		}
		.description { margin-top: 0.5em;}
		.form-file {
			position: relative;
			left: -1.5em;
		}
	}
	.form-type-managed-file {
		text-align: center;
		.form-submit {
			display: inline-block;
			vertical-align: middle;
			float: none !important;
		}
	}
	.form-type-select {
		display: inline-block;
		vertical-align: middle;
		margin: 1em 0 1em 5em;
		padding-right: 1em;
		border-right: 1px solid;
		select {
			width: 6em;
		}
	}
	#edit-enviar {
		@extend %btn-blue;
		display: inline-block;
		vertical-align: middle;
	}
}

#block-views-home-publications-block {
	clear: both;
	padding-top: 2em;
	.views-row {
		padding: 1em;
		border: 1px solid $orbit-gray-light;
		margin-bottom: 1em;
		position: relative;
		.group-left {
			width: 30%;
			text-align: center;
			.field-name-ds-user-picture {
				@include border-radius(100%);
				overflow: hidden;
				height: 8em;
				width: 8em;
				margin-right: 0.5em;
				float: left;
				a, a:link {
					display: block;
					img{
						height: auto;
						width: 100%;
					}
				}
			}
			.field-name-author {
				text-align: left;
				color: $orbit-blue-dark;
				font-size: 1.5em;
				font-family: "futuraB"
			}
			.field-name-hace- {
				text-align: left;
			}
			.field-name-field-imagen,
			.field-name-file-blank,
			.name-field-imagen,
			.field-name-field-archivo {
				display: inline-block;
				*display: inline-block;
				vertical-align: middle;
				margin-right: 1em;
			}
		}
		.group-right { 
			@extend %view-comentarios;
			border-left: 1px solid $orbit-gray-light;
			padding-left: 1em;
			padding-bottom: 2.5em;
			width: 70%;
			min-height: 8em;
			float: right;
		}
	}
}
 
/*==end==*/

/*directorio*/

#views-exposed-form-directorio-block-1,
.view-id-directorio {
	position: relative;
	padding-top: 4em;
	margin-top: 1em;
	.view-header {
		background: $orbit-gray-dark;
		padding: 1em 0;
		clear: both;
		p {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			a, a:link {
				background-image: url(../images/ico-dir-home.png);
				&:hover { background-image: url(../images/ico-dir-home-h.png);}
			}
		}
		a, a:link {
			text-indent: -5000px;
			display: block;
			height: 2em;
			width: 5em;
			background: {
				repeat: no-repeat;
				position: center center;
				color: transparent;
			};
		}
		.view-id-departamento {
			display: inline-block;
			vertical-align: top;
			float: right;
			width: 92%;
			.views-row {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				text-align: center;
				&:hover {
					a, a:link {
						text-indent: 0px;
						color: $orbit-gray-dark;
						background-color: $orbit-yellow;
						position: absolute;
						top: -6em;
						height: 4em;
						background-position: center 85%;
						padding: 0.5em 0.5em 3.5em;
						z-index: 999;
						width: 6em;
						left: -1em;
					}
				}
			}
			.views-row-last {
				a, a:link { width: 4em;}
			}
			.comite-ejecutivo {
				background-image: url(../images/ico-dir-comite.png);
				&:hover { background-image: url(../images/ico-dir-comite-h.png);}
			}
			.desarrollo-e-innovacion {
				background-image: url(../images/ico-dir-desarrollo.png);
				&:hover { background-image: url(../images/ico-dir-desarrollo-h.png);}
			}
			.direccion-medica {
				background-image: url(../images/ico-dir-direccion.png);
				&:hover { background-image: url(../images/ico-dir-direccion-h.png);}
			}
			.finanzas {
				background-image: url(../images/ico-dir-finanzas.png);
				&:hover { background-image: url(../images/ico-dir-finanzas-h.png);}
			}
			.galeno {
				background-image: url(../images/ico-dir-galeno.png);
				&:hover { background-image: url(../images/ico-dir-galeno-h.png);}
			}
			.genericos-otc {
				background-image: url(../images/ico-dir-genericos.png);
				&:hover { background-image: url(../images/ico-dir-genericos-h.png);}
			}
			.gestion-humana {
				background-image: url(../images/ico-dir-gestion.png);
				&:hover { background-image: url(../images/ico-dir-gestion-h.png);}
			}
			.innova {
				background-image: url(../images/ico-dir-innova.png);
				&:hover { background-image: url(../images/ico-dir-innova-h.png);}
			}
			.internacional {
				background-image: url(../images/ico-dir-internacional.png);
				&:hover { background-image: url(../images/ico-dir-internacional-h.png);}
			}
			.operaciones {
				background-image: url(../images/ico-dir-operaciones.png);
				&:hover { background-image: url(../images/ico-dir-operaciones-h.png);}
			}
			.supplay {
				background-image: url(../images/ico-dir-supplay.png);
				&:hover { background-image: url(../images/ico-dir-supplay-h.png);}
			}
			.tecnologia-informatica {
				background-image: url(../images/ico-dir-tecnologia.png);
				&:hover { background-image: url(../images/ico-dir-tecnologia-h.png);}
			}
		}
	}
	.view-filters {
		position: absolute;
		top: 0;
		right: 0;
	}
	.views-widget-filter-combine {
		padding: 0;
		position: relative;
		label {
			position: absolute;
			top: 0.5em;
			left: 1.5em;
			font-weight: normal;
		}
		.form-text { margin: 0;}
	}
	.views-submit-button {
		padding: 0;
		position: relative;
		.form-submit {
			margin: 0;
			background: url(../images/ico-lupa.png) no-repeat center center white;
			border: 1px solid $orbit-gray-light;
			height: 31px;
			width: 35px;
			text-indent: -5000px;
			cursor: pointer;
		}
	}
	> .view-content {
		text-align: center;
		.views-row {
			@extend %view-colaboradores;
		}
	}
}

/*==end==*/

/*perfil*/
.user-profile {
	background: white;
	.group-header {
		position: absolute;
		top: 1em;
		right: -20em;
		text-align: left;
		width: 20em;
		a, a:link {
			@include border-radius(0 3em 3em 0);
			background: url(../images/ico-pinon-azul.png) no-repeat 0.5em center$orbit-yellow;
			display: inline-block;
			padding: 1em 1em 1em 3em;
			color: $orbit-blue-dark;
			&:hover { background-color: $orbit-yellow-dark;}
		}
	}
	.group-left { 
		width: 30%;
		img {
			height: auto;
			width: 100%;
		}
	}
	.group-right {
		@include box-sizing(border-box);
		width: 70%;
		background: $orbit-blue-dark;
		color: white;
		padding: 1em;
		.field {
			margin: 0.2em;
			.field-label {
				display: inline-block;
				vertical-align: middle;
				text-indent: -5000px;
				width: 2em;
				height: 2em;
				background: {
					color: transparent;
					repeat: no-repeat;
					position: center center;
				};
			}
			.field-items {
				display: inline-block;
				vertical-align: middle;
				margin-left: 0.3em;
			}
		}
		.field-name-field-departamento {
			.field-label { background-image: url(../images/ico-colombia.png)}
		}
		.field-name-field-cargo {
			.field-label { background-image: url(../images/ico-cargo.png)}
		}
		.field-name-field-nombre-completo {
			color: $orbit-yellow;
			font-size: 2em;
			font-family: "futuraB";
			border-bottom: 1px solid $orbit-blue;
			padding-bottom: 0.3em;
			margin-bottom: 0.3em;
			.field-label { display: none;}
		}
	}
	.group-footer {
		.views-row {
			@extend %view-comentarios;
			padding: 0.5em 1em 0 1em;
			border-top: 1px solid $orbit-gray-light;
			min-height: 7em;
			.field-name-body {
				left: 0;
				bottom: initial;
				top: 4.5em;
			}
			.flag-outer-like {
				bottom: initial;
				top: 4.1em;
				right: 2.5em;
			}
			.field-name-counter {
				bottom: initial;
				top: 4.1em;
				.field-item { padding: 0 0.5em;}
			}
		}
		.view-id-home_publications.view-display-id-block_1 > .view-content {
			height: 190px;
			overflow-y: auto;
		}
	}
}
#block-ob-wall-ob-profile {
	@include clearfix;
	width: 100%;
	height: 0;
	position: initial;
	position: inherit;
	> .content {
		padding-top: 1em;
		border-top: 1px solid $orbit-gray-light;
		margin-top: 2em;
	}
	.ob-content-profile { overflow: hidden;}
	.ob-close {
		@include border-radius(0 0 1em 1em);
		display: none;
		position: absolute;
		left: 48.5%;
		bottom: -2em;
		width: 3em;
		height: 3em;
		text-indent: -5000px;
		cursor: pointer;
		background: url(../images/arrow-close-3.png) no-repeat center center $orbit-gray-dark;
		&:hover { bottom: -3em;}
	}
	.ob-user-img {
		@extend %perfil-content;
		padding-left: 0;
		width: 15%;
		img { 
			height: auto;
			width: 100%;
		}
	}
	.ob-user-info {
		@extend %perfil-content;
		width: 35%;
		min-height: 17.5em;
		> div {
			background: {
				repeat: no-repeat;
				position: left center;
			};
			padding: 0.4em 0 0.4em 2em;
			color: white;
		}
		.ob-name {
			font: {
				size: 2em;
				family: "futuraB";
			};
			padding-bottom: 0.3em;
			border-bottom: 1px solid $orbit-gray-light;
			margin: 0 0 0.3em 0;
			color: $orbit-yellow;
		}
		.ob-depto {
			background-image: url(../images/ico-colombia.png);
			color: $orbit-yellow;
		}
		.ob-cargo {
			background-image: url(../images/ico-cargo.png);
			color: $orbit-yellow;
		}
		.ob-mail {
			background-image: url(../images/ico-mail.png);
		}
		.ob-phone {
			background-image: url(../images/ico-cel.png);
		}
		.ob-birth {
			background-image: url(../images/ico-cumple.png);
		}
		.ob-rh {
			background-image: url(../images/ico-rh.png);
		}
	}
	.ob-colaborator {
		@extend %perfil-content;
		border: none;
		.s_title_block {
			font: {
				size: 2em;
				family: "futuraB";
			};
			padding-bottom: 0.3em;
			border-bottom: 1px solid $orbit-gray-light;
			margin: 0 0 0.3em 0;
			color: $orbit-yellow;
			display: block;
		}
		.views-row {
			@extend %view-colaboradores;
			min-height: 0;
			width: 7em;
			vertical-align: middle;
			margin: 0 0.2em;
			.views-field-nothing .s_user_name {
				margin-top: 1.5em;
			}
		}
	}
	&.active {
		.ob-close { display: inline-block;}
	}
}

/*==end==*/

/*planeador*/

.page-calendar {
	.tabs {
		border: none;
		margin: 0.5em 0 0 0;
		float: right;
		padding: 0;
		position: relative;
		z-index: 9;
		li {
			display: inline-block;
			*display: inline-block;
			vertical-align: top;
			a, a:link {
				background: $orbit-blue-dark;
				color: white;
				text-transform: uppercase;
				padding: 0.5em 1em;
				border: none;
				margin: 0;
				cursor: pointer;
				display: block;
			}
		}
		.active {
			a, a:link {
				background: $orbit-yellow;
				color: $orbit-blue-dark;
			}
		}
	}
}

.pst_content_region {
	@include box-sizing(border-box);
	width: 30%;
	padding: 1em 2em;
	float: right;
	#block-views-proximos-eventos-block {
		text-align: center;
		h2 { @extend %sub-titulo;}
		.content {
			text-align: left;
			padding-top: 2em;
			border-top: 1px solid $orbit-gray-light;
			margin-top: -1.5em;
			margin-bottom: 1em;
		}
		.views-row {
			.views-accordion-header {
				@include border-radius(0);
				border: none;
				margin: 0;
				.ui-icon { display: none;}
				a, a:link {
					padding: 0 0.5em;
					color: white;
					.s_counter {
						display: inline-block;
						vertical-align: middle;
						padding-right: 0.5em;
						margin-right: 0.2em;
						border-right: 1px solid white;
						font-family: "futuraB";
					}
					.s_term_name {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
			.ui-state-active { background-image: url(../images/arrow-close-2.png) !important;}
			.ui-helper-reset {
				border-top: 1px solid white;
				padding: 0.5em;
				margin: 0;
				overflow: hidden;
				font-size: 85%;
				.view-id-paneador, ul, li {
					margin: 0;
				}
				.views-field-title {
					margin-bottom: 0.3em;
					a, a:link {
						color: white;
						font-size: 110%;
						font-family: "futuraB";
					}
				}
				.views-field-field-fecha { color: white;}
			}
		}
		.views-row-1 {
			.ui-helper-reset { background: #2E3687;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #2E3687;}
		}
		.views-row-2 {
			.ui-helper-reset { background: #BD9C69;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #BD9C69;}
		}
		.views-row-3 {
			.ui-helper-reset { background: #A21B25;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #A21B25;}
		}
		.views-row-4 {
			.ui-helper-reset { background: #C6362E;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #C6362E;}
		}
		.views-row-5 {
			.ui-helper-reset { background: #559F99;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #559F99;}
		}
		.views-row-6 {
			.ui-helper-reset { background: #59277F;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #59277F;}
		}
		.views-row-7 {
			.ui-helper-reset { background: #A1BF37;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #A1BF37;}	
		}
		.views-row-8 {
			.ui-helper-reset { background: #69A841;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #69A841;}	
		}
		.views-row-9 {
			.ui-helper-reset { background: #D0684B;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #D0684B;}
		}
		.views-row-10 {
			.ui-helper-reset { background: #68A7DE;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #68A7DE;}
		}
		.views-row-11 {
			.ui-helper-reset { background: #8A1E59;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #8A1E59;}
		}
		.views-row-12 {
			.ui-helper-reset { background: #F7E939;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #F7E939;}
		}
		.views-row-13 {
			.ui-helper-reset { background: #E7B041;}
			.views-accordion-header { background: url(../images/arrow-close-21.png) no-repeat 95% center #E7B041;}
		}
	}
	.view-id-paneador {
		margin-bottom: 1em; 
		.view-header {
			background: $orbit-blue-dark;
			* { 
				margin: 0;
				padding: 0;
				.date-heading { 
					padding: 0.3em 0;
					a, a:link { color: white;}
				}
			}
			li {
				@include border-radius(0);
				text-indent: -5000px;
				font-size: 0;
				background: none;
				padding: 0;
				a, a:link {
					background: {
						position: center center;
						repeat: no-repeat;
					}
					display: block;
					margin-top: 0.5em;
					height: 2em;
					width: 2em;
					color: $orbit-blue-dark;
				}
			}
			.date-prev {
				left: 5px;
				a, a:link { background-image: url(../images/arrow-plan-left.png);}
			}
			.date-next {
				right: 5px;
				a, a:link { background-image: url(../images/arrow-plan-right.png);}
			}
		}
	}
	.calendar-calendar {
		.days {
			background-color: white;
			padding: 0.5em 0;
			color: $orbit-gray-dark;
		}
		.empty,
		.future,
		.today,
		.past {
			border: 1px solid #CCC !important;
			.mini-day-off { padding: 0 0 1em 0;}
		}
	}
}

#content {
	.view-id-paneador {
		.date-nav {
			padding: 0;
			.pager {
				li {
					@include border-radius(0);
					margin: 0;
					padding: 0;
					background: none;
					a, a:link { 
						background: $orbit-blue-dark no-repeat center center;
						color: $orbit-blue-dark;
						margin: 0;
						display: block;
						text-indent: -5000px;
						text-align: center;
						width: 4.5em;
						height: 2.5em;
						&:hover {
							background-color: $orbit-yellow;
							color: $orbit-yellow;
						}
					}
				}
				.date-next { 
					margin-top: -1.24em;
					a, a:link {
						background-image: url(../images/arrow-plan-right.png);	
					}
				}
				.date-prev {
					a, a:link {
						background-image: url(../images/arrow-plan-left.png);
					}
				}
			}
		}
	}
	.calendar-calendar {
		.date-nav {
			background-color: $orbit-blue-dark;
			padding: 0.5em 0;
			a, a:link {
				color: white;
			}
		}
		.days {
			padding: 0.3em 0;
			background: $orbit-blue-dark;
			color: white
		}
		tbody td { border: 1px solid $orbit-gray-light;}
		.date-box .date-box {
			border-bottom: 1px solid transparent;
		}
		.yearview,
		.weekview,
		.dayview,
		.monthview { 
			@extend %color-planeador-tipos;
			@include border-radius(0);
			border: none;
			background: none;
			padding: 0.5em;
			.views-field-title {
				a, a:link {
					color: white;
					padding: 0.3em 0;
					display: block;
					font-size: 1.25em;
					text-transform: uppercase;
				}
			}
			.views-field-field-fecha { 
				font-family: "futuraM";
				color: white;
				margin-top: 0.3em;
				* { font-weight: normal;}
			}
			
		}
	}
}

.page-calendar {
	.block-afb { border: none;}
}

.block-afb {
	clear: both;
	text-align: center;
	height: 0;
	overflow: hidden;
	.content { text-align: left;}
	h2 {
		@extend %sub-titulo;
		top: -1.3em;
	}
	.node-advpoll { 
		text-align: left;
		margin-top: -2em;
	}
	.form-submit {
		@extend %btn-blue;
		color: white;
	}
	&.active { 
		overflow: visible;
		margin-top: 2em;
		border-top: 1px solid $orbit-gray-light;
	}
}
.s_import_create,
.s_event_create {
	@extend %btn-yellow;
	display: inline-block;
	margin-bottom: 1em;
}
.node-event-form {
	@extend %form;
	width: 100%;
	text-align: left;
	margin-top: -2em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $orbit-gray-light;
	.date-float {
		float: right;
		margin-top: -2em;
		padding-left: 1em;
		border-left: 1px solid $orbit-gray-light;
		.form-type-checkbox { margin: 0.3em 0;}
	}
	.date-no-float {
		.form-type-date-popup,
		.container-inline-date {
			margin: 0 0 2em 0;
			width: 100%;
			.date-padding {
				padding: 0;
				float: none;
				width: 100%;
				.form-type-textfield {
					@include box-sizing(border-box);
					width: 50%;
					padding-right: 1em;
					input[type=text] { width: 100%;}
				}
			}
		}
	}
	.field-name-field-invitados {
		text-align: right;
		.form-submit {
			display: block;
			background: none;
			border: none;
			color: $orbit-blue;
			padding: 0;
		}
		.tabledrag-toggle-weight-wrapper { display: none;}
		table {
			.draggable { 
				background: none;
				.tabledrag-handle { padding: 0 0 0 0.7em;}
			}
		}
		.form-autocomplete { background: none;}
	}
	#edit-submit {
		@extend %btn-blue;
		float: right;
	}
	input[type="submit"] {
		clear: both;
	}
	.vertical-tabs,
	#edit-preview { display: none;}
}

/*==end==*/

/*salas*/

#block-quicktabs-salas-de-reuni-n {
	.item-list {
		@extend %tabs;
		clear: both;		
	}
	.galleryformatter {
		.gallery-slides {
			width: 100% !important;
			.slide-button {
				background: {
					color: rgba(255, 255, 255, 0.5);
					position: center center;
					repeat: no-repeat; 
					height: 2em;
					width: 3em;
				}
			}
			.prev-slide { background-image: url(../images/arrow-salas-prev.png);}
			.next-slide { background-image: url(../images/arrow-salas-next.png);}
		}
		.gallery-thumbs { display: none;}
	}
	.node-salas-de-reunion {
		.field-name-body { margin: 1em 0;}
		.field-name-nid { display: none;}
		.field-name-create-room {
			.block-afb {
				height: auto;
				text-align: left;
				h2 { 
					top: 0;
					padding: 0;
				}
				form { 
					@extend .clearfix;
					.fieldset-wrapper > .date-clear { display: none;}
					.date-no-float {
						width: 100%;
						.form-item {
							@extend .clearfix;
							width: 100%;
							margin: 0;
							.form-type-textfield {
								float: left;
								width: 45%;
								margin-left: 1em;
								input {
									margin: 0;
									width: 100%;
								}
							}
						}
						.date-padding {
							padding: 0.5em 0;
							float: none;
						}
					}
				}
				.field-name-field-fecha {
					float: left;
					width: 45%;
				}
				.field-name-field-invitados,
				.field-name-field-descripci-n {
					float: right;
					width: 50%;
					.form-submit {
						padding: 0;
						background: none;
						border: none;
						color: $orbit-blue;
					}
					.tabledrag-toggle-weight-wrapper { display: none;}
				}
				.form-submit {
					@extend %btn-yellow;
					float: right;
					margin-top: 1em;
					clear: both;
					margin-right: 0;
				}
				.vertical-tabs { display: none;}
				table {
					width: 98%;
					.draggable { 
						background: none;
						.tabledrag-handle { padding: 0 0 0 0.7em;}
					}
				}
				.form-autocomplete { background: none;}
			}
		}
	}
}

.block-advpoll {
	@extend .block-afb;
	height: auto;
	overflow: visible;
	margin-top: 0;
	.form-submit { float: right;}
	.form-type-radio {
		position: relative;
		.ajax-progress { right: 0;}
	}
}

.view-id-salas_de_reunion {
	clear: both;
	.views-row {
		@include clearfix;
		padding: 1em;
		border: 1px solid $orbit-gray-light;
		margin-bottom: 1em;
	}
	.views-field-field-fecha,
	.views-field-field-email,
	.views-field-field-tel-fono {
		@extend %view-salas;
	}
	.views-field-field-departamento {
		@extend %view-salas;
		color: $orbit-yellow;
		font-weight: normal;
	}
	.views-field-name {
		@extend %view-salas;
		color: $orbit-blue-dark;
		font-size: 1.3em;
		font-weight: normal;
	}
	.views-field-picture {
		@extend %view-salas;
		padding-bottom: 1em;
		.field-content {
			@include border-radius(20em);
			height: 15em;
			width: 15em;
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
			img { 
				width: 100%;
				height: auto;
			}
		}
	}
	.views-field-nothing {
		float: right;
		width: 70%;
		> div { margin-bottom: 0.5em;}
		.s_title {
			font-size: 1.5em;
			font-weight: normal;
			margin-bottom: 1em;
		}
	}
	.views-field-field-nid {
		float: right;
		width: 70%;
		padding-top: 0.5em;
		text-align: right;
		border-top: 1px solid $orbit-gray-light;
		margin-top: -3.5em;
		margin-bottom: 0;
		.colorbox-load {
			@extend %btn-yellow;
			display: inline-block;
		}	
	}
}

/*colorBox*/
.page-calendar-room {
	#admin-menu { display: none;}
	#content-wrapper {
		margin: 0;
		float: none;
		width: 100%;
		top: 0;
		#content {
			border: none;
			float: none;
			width: 100%;
			top: 0;
		}
		.date-heading { text-align: left;}
	}
	header,
	.s_title_page { display: none;}
	.view-id-paneador {
		.view-content {
			height: 29em;
			overflow: hidden;
			margin-bottom: 1em;
		}
		.view-footer {
			text-align: right;
			clear: both;
			padding-top: 1em;
			border-top: 1px solid $orbit-gray-light;
			#edit-denegate { @extend %btn-red;}
			#edit-acept { @extend %btn-green;}
		}
	}
}

/*==end==*/


/*menu*/

#block-menu-menu-casino-menu {
	@extend %tabs;
	clear: both;
	margin-bottom: 1em;
	.leaf {
		display: inline-block;
		list-style: none;
		margin: 0;
		a, a:link {
			background: $orbit-gray-light;
		}
	}
	.active-trail {
		a, a:link {
			background: white;
		}
	}
}
.field-name-field-menu-casino {
	margin-top: 1em;
	.field-label {
		margin-bottom: 0.5em;
		font-size: 1.3em;
	}
	.field-item {
		clear: both;
		margin-bottom: 0.3em;
		.field-name-field-menu-part {
			display: inline-block;
			margin-right: 0.5em;
			font-family: "futuraB";
		}
		.field-name-field-menu-part-desc {
			display: inline-block;
		}
	}
}

/*==end==*/

/*reportes*/
#ob-polls-reports-form {
	clear: both;
	text-align: center;
	.form-item {
		display: inline-block;
		*display: inline-block;
		vertical-align: top;
		padding: 0 1em 1em 1em;
		border: 1px solid $orbit-gray-light;
		border-top: none;
		margin-right: -5px;
		width: 47%;
		select { border: 1px solid $orbit-gray-light;}
	}
	.form-submit {
		@extend %btn-yellow;
		display: inline-block;
		margin-top: 1em;
	}
}

/*==end==*/

/*colorBox*/
#colorbox { 
	z-index: 100;
	#block-views-directorio-block-1 { 
		background: white;
		display: block;
		padding: 1em;
		h2 { 
			margin-top: 0;
			color: $orbit-blue-dark;
		}
	}
	#views-exposed-form-directorio-block-1 {
		@include clearfix;
		background: white;
		margin: 0;
		padding: 0;
		.views-exposed-widgets { 
			margin: 0;
			float: right;
		}
	}
	.view-id-directorio {
		margin: 0;
		background: white;
		padding: 0;
		.view-filters { top: -3.2em;}
		.views-row {
			@extend %view-colaboradores;
			min-height: 0;
			font-size: 90%;
			.views-field-nothing .s_user_name { margin-top: 0.3em;}
			.views-field-uid { text-indent: -5000px;}
		}
		.active {
			opacity: 0.4;
		}
		> .view-content {
			padding-top: 0.5em;
			border-top: 1px solid $orbit-gray-light;
		}
		.view-footer { 
			text-align: right;
			padding-top: 1em;
			border-top: 1px solid $orbit-gray-light;
		}
	}
	.s_submit {
		@extend %btn-yellow;
		display: inline-block;
	}

	.confirmation {
		background: white;
		padding: 1em;
		.form-actions {
			text-align: center;
			.form-submit {
				@extend %btn-blue;
				display: inline-block;
				padding: 0.36em 1em;
				vertical-align: top;
				margin: 0 1em 0 0;
			}
			#edit-cancel {
				@extend %btn-red;
				display: inline-block;
				vertical-align: top;
				margin: 0;
			}
		}
	}
	.view-id-home_publications {
		.jspPane { 
			@include box-sizing(border-box);
			padding-right: 1.5em !important;
			width: 100% !important;
		}
	}
	.node-event {
		padding: 0 1em;
		.field { margin-bottom: 0.5em;}
	}
	header { display: none;}
	#content-wrapper {
		margin: 0 auto;
		float: none;
		position: static;
		padding: 1em 0;
		#content { 
			width: 100%;
			padding: 0;
			border: none;
		}
	}
	iframe {
		height: 100%;
		width: 100%;
	}
}
#cboxLoadedContent { background: white;}
/*==end==*/