/*Sitio desarrollado por Cristian Hernandez / TFDC*/

@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass";
@import "compass/css3/border-radius";
@import "compass/utilities";
@import "compass/css3/transform";
@include font-face("futuraM", font-files("/sites/all/themes/orbit/fonts/tt0142m_-webfont.ttf", "/sites/all/themes/orbit/fonts/tt0142m_-webfont.eot"));
@include font-face("futuraB", font-files("/sites/all/themes/orbit/fonts/tt0144m_-webfont.ttf", "/sites/all/themes/orbit/fonts/tt0144m_-webfont.eot"));
@include font-face("florenceRegular", font-files("/sites/all/themes/orbit/fonts/florence-regular-webfont.ttf", "/sites/all/themes/orbit/fonts/florence-regular-webfont.eot"));

/*=======colors=======*/

$orbit-gray: 				#666666;
$orbit-gray-dark: 			#333333;
$orbit-gray-light: 			#DDDDDD;
$orbit-yellow: 				#F9BD14;
$orbit-yellow-dark: 		#826400;
$orbit-red: 				#E41E25;
$orbit-red-dark: 			#8A181B;
$orbit-green: 				#83C341;
$orbit-green-dark: 			#09743B;
$orbit-blue: 				#0071BC;
$orbit-blue-dark: 			#1F3264;


/*=======end=======*/

/*=======Border radius=======*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; border-radius: $radius; }

/*=======end=======*/

/*generico*/
body {
	font-size: 12px;
	font-family: "futuraM";
	font-weight: normal;
	color: $orbit-gray;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

p { margin-bottom: 0.5em;}

a, a:link { text-decoration: none;}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clear { clear: both;}

.ajax-progress { position: absolute;}

.grippie { display: none;}

textarea,
.form-email,
.form-number,
input[type="text"],
input[type="password"] {
	@include border-radius(0);
	font-family: "futuraM";
	border: 1px solid #DDD;
	margin: 0.5em 0;
	padding: 0.5em 1em;
	width: 100%;
}

input[type="file"] {
	 position: relative;
	 width: 3.5em;
	 height: 2em;
	 cursor: pointer;
	&:after {
		@extend %after-before;
		background: url(../images/ico-upload.png) center center no-repeat $orbit-yellow;
		border: 0.3em solid $orbit-yellow-dark;
		border-top: none;
		border-left: none;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	&:hover { 
		&:after { background-color: $orbit-yellow-dark;}
	}	
}


/*==end==*/

/*artefactos*/

%after-before {
	content: " ";
	position: absolute;
}
%form {
	width: 50%;
	margin: auto;
	.webform-component-select {
		display: inline-block;
		vertical-align: top;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid #DDD;
	}
	.webform-component-radios {
		display: inline-block;
		vertical-align: top;
		.form-type-radio {
			float: left;
			margin-right: 1em;
		}
	}
	.form-select {
		@include border-radius(5px);
		border: 1px solid #DDD;
		padding-right: 4em;
		background: url(../images/btn-select.png) right center no-repeat;
		color: #666666;
		min-width: 15em;
	}
	.form-submit {
		@extend %btn-yellow;
	}
}

%b-a {
	content: " ";
	position: absolute;
}

%submit {
	@include border-radius(0);
	font-family: "futuraM";
	border: none;
	background: $orbit-gray;
	color: white;
	padding: 0.5em 1em;
	position: relative;
	border: 0.3em solid $orbit-gray-dark;
	border-top: none;
	border-left: none;
	cursor: pointer;
	&:hover {
		background-color: $orbit-gray-dark;
	}
}

%btn-yellow {
	@extend %submit;
	color: $orbit-gray-dark;
	background-color: $orbit-yellow;
	border-color: $orbit-yellow-dark;
	&:hover {
		color: white;
		background-color: $orbit-yellow-dark;

	}
}
%btn-green {
	@extend %submit;
	background-color: $orbit-green;
	border-color: $orbit-green-dark;
	&:hover {
		color: white;
		background-color: $orbit-green-dark;

	}
}
%btn-blue {
	@extend %submit;
	background-color: $orbit-blue;
	border-color: $orbit-blue-dark;
	&:hover {
		color: white;
		background-color: $orbit-blue-dark;

	}
}
%btn-red {
	@extend %submit;
	background-color: $orbit-red;
	border-color: $orbit-red-dark;
	&:hover {
		color: white;
		background-color: $orbit-red-dark;

	}
}

%muro-contenedores {
	@include box-sizing(border-box);
	display: block;
	border: 1px solid $orbit-gray-light;
	border-left: none;
	border-right: none;
	border-top: none;
	position: absolute;
	padding: 1em;
	margin: 0;
	top: 0;
	width: 100%;
	background: white;
	height: 6em;
	label {
		position: absolute;
		top: -2em;
		width: 34%;
		background: $orbit-blue-dark;
		color: white;
		height: 2em;
		line-height: 2em;
		&:hover {
			background: $orbit-yellow;
			color: $orbit-blue-dark;
		}
	}
	.form-submit {
		@extend %btn-yellow;
		float: right;
	}
}

%arrow-up {
	width: 0; 
	height: 0; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 1em solid red;
}
%arrow-down {
	width: 0; 
	height: 0; 
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;	
	border-top: 1em solid red;
}
%arrow-right {
	width: 0; 
	height: 0; 
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;	
	border-left: 1em solid red;
}
%arrow-left {
	width: 0; 
	height: 0; 
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent; 	
	border-right:1em solid red; 
}

%titular {
	padding: 1em 0 1em 1.5em;
	margin: 0;
	color: $orbit-blue-dark;
	position: relative;
	&:after {
		@extend %after-before;
		@extend %arrow-right;
		top: 15%;
		left: 0;
	}
}

/*==end==*/

/*no-log*/

.not-logged-in {
	#first-time,
	#t-logo { display: none;}
}

#block-user-login {
	@extend %form;
}

/*==end==*/
.s_title_page {
	@extend %titular;
	&:after { border-left-color: $orbit-yellow;}
}
header {
	@extend .clearfix;
	background: $orbit-gray-dark;
	position: fixed;
	width: 100%;
	height: 5em;
	line-height: 5em;
	z-index: 10;
}
nav {
	background: $orbit-gray-dark;
	position: fixed;
	top: 0;
	left: 0;
	width: 6%;
	height: 100%;
	padding-top: 7em;
	z-index: 9;
	h2 { display: none;}
	.menu {
		text-align: center;
		li {
			position: relative;
			width: 45px;
			height: 45px;
			margin: 0.5em auto;
			list-style: none;
			text-align: left;
			a, a:link {
				@include box-sizing(border-box);
				color: white;
				position: absolute;
				background: {
					color: transparent;
					position: left center;
					repeat: no-repeat;
				}
				top: 0;
				left: 0;
				display: block;
				text-transform: uppercase;
				text-indent: -5000px;
				padding: 1em;
				width: 100%;
				&:hover {
					padding: 1em 1em 1em 7em;
					background-color: $orbit-gray-dark;
					min-width: 500%;
					text-indent: 0;
					color: $orbit-yellow;
				}
			}
			.s_directory {
				background-image: url(../images/btn-ico-directorio.png);
				&:hover { background-image: url(../images/btn-ico-directorio-h.png);}
			}
			.s_plane {
				background-image: url(../images/btn-ico-planeador.png);
				&:hover { background-image: url(../images/btn-ico-planeador-h.png);}
			}
			.s_room {
				background-image: url(../images/btn-ico-salas.png);
				&:hover { background-image: url(../images/btn-ico-salas-h.png);}
			}
			.s_casino {
				background-image: url(../images/btn-ico-menu.png);
				&:hover { background-image: url(../images/btn-ico-menu-h.png);}
			}
		}
	}
}
#content-wrapper {
	float: right;
	width: 94%;
	margin-top: 5em;
	#content  {
		@include box-sizing(border-box);
		float: left;
		width: 70%;
		padding: 1em;
		border-right: 1px solid $orbit-gray-light;
	}
}

/*muro*/

#og-wall-form {
	border: 1px solid $orbit-gray-light;
	width: 70%;
	float: right;
	text-align: center;
	position: relative;
	padding-top: 6em;
	margin-top: 3em;
	#edit-image-ajax-wrapper {
		@extend %muro-contenedores;
		z-index: 2;
		label { left: 0;}
		.form-type-managed-file {
			@extend .clearfix;
		}
	}
	.form-type-textarea {
		@extend %muro-contenedores;
		z-index: 3;
		label {	left: 33%;}
		textarea {	
			border-color: $orbit-gray-light;
			border-left: none;
			border-right: none;
			border-bottom: none;
			height: 4em;
			padding: 0;}
	}
	#edit-archivo-ajax-wrapper {
		@extend %muro-contenedores;
		z-index: 1;
		label {	left: 66%;}
	}
	.form-type-managed-file { 
		text-align: center;
		.form-submit {
			display: inline-block;
			vertical-align: middle;
			float: none !important;
		}
	}
	input[type="file"] {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
		position: relative;
		top: -2px;
		height: 2.2em;
	}
	.form-type-select {
		margin: 1em 0 1em 1em;
		padding-right: 1em;
		float: left;
		border-right: 1px solid;
		select {
			width: 6em;
			border: none;
			font-family: "futuraM";
			font-weight: normal;
			option {
				background: $orbit-yellow;
				color: black;
 			}
		}
	}
	#edit-enviar {
		@extend %btn-blue;
		float: left;
		margin: 0.5em;
	}
}

#block-views-home-publications-block {
	clear: both;
	padding-top: 2em;
	.views-row {
		padding: 1em;
		border: 1px solid $orbit-gray-light;
		margin-bottom: 1em;
		position: relative;
		.group-left {
			border-right: 1px solid $orbit-gray-light;
			margin-right: 1em;
			width: 25%;
			text-align: center;
			padding-right: 1em;
		}
		.group-right { width: 70%;}
		.field-name-ds-user-picture {
			@include border-radius(100%);
			overflow: hidden;
			width: 50%;
			margin: auto;
			a, a:link {
				display: block;
				img{
					height: auto;
					width: 100%;
				}
			}
		}
		.field-name-body {
			padding-bottom: 1em;
			border-bottom: 1px solid $orbit-gray-light;
			margin-bottom: 1em;
		}
		.flag-outer-like {
			position: absolute;
			left: 28%;
			bottom: 0;
			a, a:link {
				background: url(../images/ico-like.png) left center no-repeat;
				text-indent: -5000px;
				height: 1.5em;
				width: 1.5em;
				display: block;
				padding-right: 0.5em;
				border-right: 1px solid $orbit-gray-light;
			}
			.flag-throbber { position: absolute;}
		}
	}
}
 
/*==end==*/

/*directorio*/

.view-id-directorio {
	position: relative;
	padding-top: 4em;
	margin-top: 1em;
	.view-header {
		background: $orbit-gray-dark;
		padding: 1em 0;
		p {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			a, a:link {
				background-image: url(../images/ico-dir-home.png);
				&:hover { background-image: url(../images/ico-dir-home-h.png);}
			}
		}
		a, a:link {
			text-indent: -5000px;
			display: block;
			height: 2em;
			width: 5em;
			background: {
				repeat: no-repeat;
				position: center center;
				color: transparent;
			};
		}
		.view-id-departamento {
			display: inline-block;
			vertical-align: top;
			float: right;
			width: 92%;
			.views-row {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				text-align: center;
				&:hover {
					a, a:link {
						text-indent: 0px;
						color: $orbit-gray-dark;
						background-color: $orbit-yellow;
						position: absolute;
						top: -6em;
						height: 4em;
						background-position: center 85%;
						padding: 0.5em 0.5em 3.5em;
						z-index: 999;
						width: 6em;
						left: -1em;
					}
				}
			}
			.views-row-last {
				a, a:link { width: 4em;}
			}
			.comite-ejecutivo {
				background-image: url(../images/ico-dir-1.png);
				&:hover { background-image: url(../images/ico-dir-1-h.png);}
			}
			.desarrollo-e-innovacion {
				background-image: url(../images/ico-dir-2.png);
				&:hover { background-image: url(../images/ico-dir-2-h.png);}
			}
			.direccion-medica {
				background-image: url(../images/ico-dir-3.png);
				&:hover { background-image: url(../images/ico-dir-3-h.png);}
			}
			.finanzas {
				background-image: url(../images/ico-dir-4.png);
				&:hover { background-image: url(../images/ico-dir-4-h.png);}
			}
			.galeno {
				background-image: url(../images/ico-dir-5.png);
				&:hover { background-image: url(../images/ico-dir-5-h.png);}
			}
			.genericos-otc {
				background-image: url(../images/ico-dir-6.png);
				&:hover { background-image: url(../images/ico-dir-6-h.png);}
			}
			.gestion-humana {
				background-image: url(../images/ico-dir-7.png);
				&:hover { background-image: url(../images/ico-dir-7-h.png);}
			}
			.innova {
				background-image: url(../images/ico-dir-8.png);
				&:hover { background-image: url(../images/ico-dir-8-h.png);}
			}
			.internacional {
				background-image: url(../images/ico-dir-9.png);
				&:hover { background-image: url(../images/ico-dir-9-h.png);}
			}
			.operaciones {
				background-image: url(../images/ico-dir-10.png);
				&:hover { background-image: url(../images/ico-dir-10-h.png);}
			}
			.supplay {
				background-image: url(../images/ico-dir-11.png);
				&:hover { background-image: url(../images/ico-dir-11-h.png);}
			}
			.tecnologia-informatica {
				background-image: url(../images/ico-dir-12.png);
				&:hover { background-image: url(../images/ico-dir-12-h.png);}
			}
		}
	}
	.view-filters {
		position: absolute;
		top: 0;
		right: 0;
		.views-widget-filter-combine {
			padding: 0;
			position: relative;
			label {
				position: absolute;
				top: 0.5em;
				left: 1.5em;
				font-weight: normal;
			}
			.form-text { margin: 0;}
		}
		.views-submit-button {
			padding: 0;
			z-index: 2;
			position: relative;
			.form-submit {
				margin: 0;
				background: url(../images/ico-lupa.png) no-repeat center center white;
				border: 1px solid $orbit-gray-light;
				height: 31px;
				width: 35px;
				text-indent: -5000px;
				cursor: pointer;
			}
		}
	}
	> .view-content {
		text-align: left;
		.views-row {
			display: inline-block;
			*display: inline-block;
			vertical-align: top;
			position: relative;
			width: 14.3%;
			min-height: 9em;
			margin: 0.3em 0;
			text-align: center;
			cursor: pointer;
			.views-field-picture img {
				height: auto;
				width: 100%;
			}
			.views-field-nothing {
				@include opacity(0);
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				height: 100%;
				background: $orbit-yellow;
				color: $orbit-blue-dark;
				.s_user_name {
					text-transform: capitalize;
					margin-top: 4em;
					font-size: 1.3em;
				}
				.s_user_dept {
					padding-bottom: 0.2em;
					border-bottom: 1px solid $orbit-blue-dark;
					width: 90%;
					margin: auto;
				}
			}
			&:hover {
				.views-field-nothing {
					@include opacity(0.7);
					* {
						@include opacity(1);
					}
				}
			}
		}
	}
}

/*==end==*/