/**/

@import "compass/css3";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass";
@import "compass/css3/border-radius";
@import "compass/utilities";

/*=======colors=======*/
$orbit-gray-dark: 			#333333;
$orbit-gray: 				#666666;

/*=======end=======*/

/*=======Border radius=======*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; border-radius: $radius; }

/*=======end=======*/

/*generico*/
body {
	font: {
		family: arial, helvetica, sans-serif;
		size: 12px;
	}
	color: $orbit-gray;
	margin: 0;
}

ul {
	margin: 0;
	li {
		padding: 0;
		list-style: none;
	}
}

p { margin-bottom: 0.5em;}

a, a:link { text-decoration: none;}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clear { clear: both;}

.ajax-progress { position: absolute;}

/*==end==*/

/*artefactos*/

%after-before {
	content: " ";
	position: absolute;
}
%form {
	width: 50%;
	margin: auto;
	.webform-component-select {
		display: inline-block;
		vertical-align: top;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid #DDD;
	}
	.webform-component-radios {
		display: inline-block;
		vertical-align: top;
		.form-type-radio {
			float: left;
			margin-right: 1em;
		}
	}
	.form-select {
		@include border-radius(5px);
		border: 1px solid #DDD;
		padding-right: 4em;
		background: url(../images/btn-select.png) right center no-repeat;
		color: #666666;
		min-width: 15em;
	}
	textarea,
	.form-email,
	.form-number,
	input[type="text"],
	input[type="password"] {
		@include border-radius(5px);
		border: 1px solid #DDD;
		margin: 0.5em 0;
		padding: 0.5em 1em;
		width: 100%;
	}
	.form-submit {
		@include border-radius(0);
		background: blue;
		color: white;
		border: 1px solid #DDD;
		padding: 0.5em 1em;
		margin: auto;
		display: inherit;
		text-shadow: none;
		&:hover {
			background: red;
		}
	}
}

/*==end==*/

/*no-log*/

.not-logged-in {
	#first-time,
	#t-logo { display: none;}
}

#block-user-login {
	@extend %form;
}

/*==end==*/

header {
	@extend .clearfix;
	background: $orbit-gray-dark;
	padding: 1em;
}